[2019-12-02 03:35] huanggze opened #7 "Operator didn't recreate fluent-bit if daemonset was deleted"
If fluent-bit daemonset was removed after its initialization, the operator wouldn't recreate it. The operator only react to configure creation and updates.

[2020-04-26 09:43] eilinge opened #13 "create crd fluentbit failed when making install"
env:
controller-gen --version
Version: v0.2.4
kubernetes: GitVersion:"v1.16.0"
linuxOs: ubuntu18.04
go version: go1.14.1 linux/amd64

git clone https://github.com/kubesphere/fluentbit-operator.git
make install

failed log:
customresourcedefinition.apiextensions.k8s.io/inputs.logging.kubesphere.io configured
customresourcedefinition.apiextensions.k8s.io/outputs.logging.kubesphere.io configured
The

[2020-04-26 09:57] #7 closed

[2020-04-27 15:52] FeynmanZhou opened #14 "Add a doc to elaborate on installing fluentbit-operator on existing K8s cluster"
Please add a doc to elaborate on installing fluentbit-operator on existing K8s cluster

[2020-04-27 15:53] FeynmanZhou commented on #13
@huanggze Could you please help to look at this issue

[2020-04-28 02:04] benjaminhuo commented on #14
Yes, an doc for install is needed.
Just put it in README.md is ok

[2020-05-06 07:35] huanggze commented on #13
doc has been updated, please refer to README

[2020-05-06 07:35] #13 closed

[2020-05-06 07:35] huanggze commented on #14
doc has been updated, please refer to README

[2020-05-06 07:35] #14 closed

[2020-07-23 15:41] alexandre-allard-scality opened #23 "Contributing to fluentbit-operator"
Hello,

My team and I are working on a Kubernetes distribution named [MetalK8s](https://github.com/scality/metalk8s) and we're currently working on our log centralization system composed of Fluent Bit and Loki.

Your project seems really interesting for us and instead of developing yet another operator (or forking your repository), we would like to contribute to your project to help you integrate

[2020-07-24 02:21] benjaminhuo commented on #23
Hi @alexandre-allard-scality , yes sure we'll definitely accept your contribution. The dev guide is here, https://github.com/kubesphere/fluentbit-operator#contributing , it's a bit simple though. Let us know if you need anything else.

We did considering logging operator for a while, we develop FluentBit operator by ourselves for a few reasons:

- For logging operator, all logs has to flow from Fl

[2020-07-24 03:51] huanggze commented on #23
Thanks for your message.

Our vision is to make a tool for cluster operators to build k8s logging layer flexibly and efficiently. As @benjaminhuo mentioned, we start with lightweight Fluent Bit , but will incorporate Fluentd in the future.

Here is our broad features or roadmap:
- Automate the deployment of Fluentd and Fluent Bit (as daemonset/deployment)
- Configure and reload Fluentd and Fluent

[2020-07-24 05:24] benjaminhuo commented on #23
@alexandre-allard-scality we developed FluentBit Operator using kubebuilder.
@huanggze which kubebuilder version we use? Maybe we coud put kubebuild related info into contribute guide as well.

[2020-07-24 06:16] huanggze commented on #23
The project is build with v2.3.0

[2020-07-27 07:17] alexandre-allard-scality commented on #23
Thanks for the quick answers,

Ok, that's cool, we totally agree on the fact that Fluentd must be optional, that's the reason we didn't chose logging-operator.

As I said, we're currently working on our log centralization system, so we will probably start working on the Loki output plugin integration soon. We will let you know if we have question regarding the good practices or anything else.

[2020-07-27 07:57] benjaminhuo commented on #23
We're looking forward to your loki output plugin :)
Let us know if you need any other info

Regards,
Ben

[2020-07-27 08:09] benjaminhuo commented on #23
@alexandre-allard-scality , you can join our [slack](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZWVhMjE) channel sig-observability anytime you have questions

[2021-01-25 08:13] daniel-hutao opened #40 "Add shortNames for FluentBit FluentBitConfig CRDs"
I expected to use short names to get the information about fluent-bit and fluent-bit-config CRs, but I found that I had to enter the full name. I think this is relatively inefficient, so I hope to add short names here. For example:

- fluent-bit(fb)
- fluent-bit-config(fbc)

[code]

If you agree, I can do this modification~

[2021-01-25 08:34] benjaminhuo commented on #40
@daniel-hutao Adding short names as you described is a good idea.
Please go ahead with a PR

Ben

[2021-01-26 07:44] daniel-hutao commented on #40
I'll do it soon

[2021-02-26 12:30] dhope-nagesh opened #42 "Error while using regex parser."
I am trying to deploy regex-parser example https://github.com/kubesphere/fluentbit-operator/tree/master/manifests/regex-parser
But i am getting following error
[code]

[2021-02-28 13:08] benjaminhuo commented on #42
@wanjunlei Pls help to take a look at this issue

[2021-03-01 02:05] wanjunlei commented on #42
The fluentbit operator currently does not support custom parser, it will be supported in the next version.

[2021-03-01 07:31] wanjunlei commented on #42
Ok, I had fixed this bug, you can fix this bug by update the fluent-bit image.

Run this command,

`kubectl edit fluentbits.logging.kubesphere.io -n kubesphere-logging-system fluent-bit`

and add the following part.

[code]
This will restart the fluent bit.

[2021-04-05 04:30] FeynmanZhou commented on #42
@dhope-nagesh Has this issue been resolved?

[2021-04-14 14:20] eltonbfw opened #48 "Input resources cannot specify multiple log paths via the `path` configuration"
It seems that multiple paths separated by commas are recognized as one path.
[code]

[2021-06-24 15:12] #40 closed

[2021-06-24 15:14] benjaminhuo commented on #23
Loki plugin has already been added.
Close this issue for now

[2021-06-24 15:14] #23 closed

[2021-06-24 15:15] #42 closed

[2021-06-24 15:16] benjaminhuo commented on #48
@wenchajun pls take a look at this issue. @wanjunlei can help you if needed

[2021-06-25 01:54] wenchajun commented on #48
Since FluentBit V1.5,the path property supports multiple patterns separated by comma.Please check it.In addition,you can either:

- create 2 inputs, one for each namespace, with appropriate wildcard
- pick up all logs, and filter later.
both will work.You can hava a try

[2021-06-25 14:50] deveshk0 opened #65 "Helm Chart support"
is there any plan to support helm chart for deployment?

[2021-06-25 15:27] benjaminhuo commented on #65
Yes, we're planning to provide helm chart support soon.

[2021-06-25 15:31] benjaminhuo commented on #65
@wenchajun will help on creating a helm chart for Fluent Bit Operator.

[2021-06-25 19:12] deveshk0 commented on #65
Do you have any initial draft, i can also contribute Or I can push an initial  draft.

[2021-06-26 06:09] benjaminhuo commented on #65
@deveshk0 We don't have an initial draft yet and of course we're happy to see the initial draft and PR from you.
https://github.com/kubesphere/fluentbit-operator/tree/master/manifests contains stuff you need to create a PR.
We're discussing with Fluent Community to contribute this project to Fluent, and you're welcome to join the slack and discuss this https://fluent-all.slack.com/archives/C02642T

[2021-06-28 03:46] benjaminhuo commented on #48
Close this for now, @eltonbfw you can reopen this if the above solution doesn't solve your problem

[2021-06-28 03:46] #48 closed

[2021-06-28 03:55] benjaminhuo opened #68 "Migrating to Fluent Operator"
We're planning to add Fluentd support and then rename this project to Fluent Operator
Here are items that need to be done:
- Fluentd CRD design & Discussion：[The initial proposal](https://hackmd.io/7-CCpsJDQ52hXtfBM6X30Q?view=)
- Fluentd CRD & Controller implementation
- Integration of FluentBit with Fluentd

[2021-06-28 11:57] FeynmanZhou commented on #68
Do we need to provide an individual website for Fluent Operator in the future?

[2021-06-28 14:31] benjaminhuo commented on #68
Github is ok for now

[2021-07-03 23:03] agup006 commented on #68
I would opt for including a whole section of the Fluent Operator as part of a Fluent Website redesign.

[2021-07-04 03:50] FeynmanZhou commented on #68
That's great, we could migrate the documentation to the new website of Fluent community.

[2021-07-04 12:19] benjaminhuo commented on #68
I added one more item : @wanjunlei @wenchajun @zhu733756 @FeynmanZhou @agup006
- Add FluentBit Cluster CRD such as ClusterInput.fluentbit.fluent.io while keeping the original namespace crd like Input.logging.kubesphere.io

[2021-07-04 18:54] deveshk0 commented on #65
Thanks @benjaminhuo  @wanjunlei,

I couldn’t get time to work.

[2021-07-05 03:29] benjaminhuo commented on #68
We're working on a helm install PR, so add one more item:
- Add helm support

[2021-07-12 22:12] deveshk0 opened #88 "SSL certs support for Output plugins"
Currently We cannot define any secrets reference in output, for some cases a ssl cert or a custom ca cert might be required to access output plugin like `kafka`, `elastic` etc. Though this can be achieved currently  mounting cert to operator itself but that looses the whole pupose of fluent bit operator where pipelines can be defined dynamically.

Is there any plan to support dynamic secrets for o

[2021-07-13 05:35] benjaminhuo commented on #88
Good point!
We currently have something relevant https://github.com/kubesphere/fluentbit-operator/blob/master/api/fluentbitoperator/v1alpha2/plugins/tls_types.go , now only the password is defined in a secret.

You mean we could put ca file in secret too?

[2021-07-13 05:43] benjaminhuo commented on #65
https://github.com/kubesphere/fluentbit-operator/tree/master/chart/fluentbit-operator Helm chart created

[2021-07-13 05:43] #65 closed

[2021-07-13 06:05] deveshk0 commented on #88
Yes

[2021-07-15 09:56] navneet066 opened #92 "imagePullSecrets is not taking the values from values.yml for fluentbit daemonset"
Right now imagePullSecrets are not defined in the CRD of the fluentbit https://github.com/kubesphere/fluentbit-operator/blob/master/chart/fluentbit-operator/crds/logging.kubesphere.io_fluentbit.yaml.

Are we planning to add that support?

It was not there for the operator also, I have modified the code and sent a PR for that.

Please let me know if I am missing anything

[2021-07-16 01:54] wenchajun commented on #92
Thank you for your suggestion. I don't think it's necessary. Because fluentbit-operator is completely open-source. This( imagePullSecrets ) is the recommended approach to run containers based on images in private registries.

[2021-07-16 07:09] deveshk0 commented on #92
Since fluent bit operator is pushing images to docker hub and docker hub has a rate limit so it is a good idea to support that.
And JFYI all open source projects do support this

[2021-07-16 07:32] benjaminhuo commented on #92
@navneet066 @deveshk0 We'll support this feature.
@wenchajun Would you help to add this feature?

[2021-07-16 07:41] wenchajun commented on #92
Yes. He has modified the code and sent a PR for that(about fluentbit-operator).I have reviewed it.

[2021-07-16 08:46] navneet066 commented on #92
Yes. But that was only for the fluentbit-operator. For fluentbit daemonset, code changes are required.

[2021-07-16 09:43] deveshk0 commented on #92
Hi @wenchajun  I haved added a PR, Can you please have a look.

[2021-07-20 15:52] navneet066 opened #102 "how to create parsers.conf to use in fluent-bit-config secret"
I am trying to add below in fluent-bit-config secret to enable the metrics as stated [here](https://docs.fluentbit.io/manual/administration/monitoring)

[code]

But not able to do so as there is no configuration provided to add. Please let me know If I am missing anything.

In the Daemonset manifest file, there is  already a setting to access it

[code]

but it is not actually exposing it.

[2021-07-21 01:43] wanjunlei commented on #102
The service is configured in `FluentBitConfig`. You can find it at [here](https://github.com/kubesphere/fluentbit-operator/blob/master/api/fluentbitoperator/v1alpha2/fluentbitconfig_types.go#L32).

[2021-07-21 08:18] navneet066 commented on #102
@wanjunlei Thank you for your response.
I can see that. It is only the mapping of the port. But it is not enabled I guess. When I tried to access the metrics from the node using the POD_IP it is not returning anything.

[code]

Question: Where I can find the setting of the HTTP server is enabled?

[2021-07-21 09:40] wanjunlei commented on #102
Now the Fluent Bit does not support metrics, because a layer of Fluent Bit watcher is encapsulated on top of Fluent Bit.
You can find the code at [here](https://github.com/kubesphere/fluentbit-operator/blob/master/cmd/fluent-bit-watcher/main.go)

[2021-07-21 12:06] navneet066 commented on #102
Are you planning to provide this support? Because it is really crucial thing which provides monitoring to fluent bit .

[2021-07-21 12:33] navneet066 commented on #102
Found the way to enable it. Below is the configuration for the `fluent-bit-config` for enabling it. You have mentioned it in your first [comment](https://github.com/kubesphere/fluentbit-operator/issues/102#issuecomment-883820148)

Thank you @wanjunlei

[code]

[2021-07-21 14:09] benjaminhuo commented on #102
fluent-bit-watcher just start the fluentbit, it doesn't block fluentbit from serving HTTP endpoint

[2021-07-21 14:10] benjaminhuo commented on #102
@navneet066 Thanks for the test. Would you please add this somewhere in the readme?

[2021-07-21 14:16] navneet066 commented on #102
@benjaminhuo Sure!! Will do and will raise a PR.

[2021-07-22 08:52] navneet066 opened #104 "Fluent Bit Process doesn't restart automatically if killed"
If due to some reason, the fluent bit process is killed internally, it doesn't restart automatically. Ideally, pod should restart if the process dies.

[2021-07-22 09:25] navneet066 commented on #102
it was documented with PR https://github.com/kubesphere/fluentbit-operator/pull/103
I will close this issue.

Thank you

[2021-07-22 09:25] #102 closed

[2021-07-22 09:27] navneet066 commented on #92
It was done in this PR https://github.com/kubesphere/fluentbit-operator/pull/94
Thank you @deveshk0

I will close this issue now

[2021-07-22 09:27] #92 closed

[2021-07-22 13:26] benjaminhuo commented on #104
Don't worry, the FB process will be started whenever it's detected dead https://github.com/kubesphere/fluentbit-operator/blob/master/cmd/fluent-bit-watcher/main.go#L60

[2021-07-22 13:53] navneet066 commented on #104
Thank you!! That sounds OK to me. I was facing this issue since yesterday.

[code]

After this, It was not restarting. but when I removed the limits from the resources, It works.

[2021-07-22 15:02] benjaminhuo commented on #68
@agup006  Fluent Operator maintainers includes : @bojand @keladhruv @benjaminhuo @huanggze @wanjunlei @zhu733756 @wenchajun @FeynmanZhou

[2021-07-24 04:30] FeynmanZhou commented on #68
The logo for Fluent Operator is coming! May I update it to README now?
![image](https://user-images.githubusercontent.com/40452856/126857314-d8d0c8b8-7db2-4750-8d44-fffb697390ed.png)

[2021-07-26 07:20] wmwm061061 opened #108 "节点 DOCKER ROOT DIR 不一致时日志无法采集"
1、fluent-bit 采集容器标准输出日志时，挂载的宿主机目录为 `/var/log/`

[code]

fluent-bit Input tail 插件采集日志的目录为 `/var/log/containers/*.log`

[code]

`/var/log/containers` 目录中的文件实际上都是软链接，它指向的 `/var/log/pods` 目录，而 `/var/log/pods/*/*.log` 文件也都是软链接，最终指向的是 `DOCKER_ROOT_DIR/containers/*/*.log`

这个 `DOCKER_ROOT_DIR/containers` 目录也会挂载到 fluent-bit 容器中

[code]

2、fluent-bit 容器中的挂载的 `DOCKER_ROOT_DIR` 目录是从 fluentbit-operator 容器所在的宿

[2021-07-27 06:59] wenchajun commented on #108
Maybe you can modify the Input plugin. The input.spec.tail.path property specifies the log collection address

[2021-08-02 12:43] FeynmanZhou commented on #65
@wenchajun Could you add this chart to https://github.com/kubesphere/helm-charts/tree/master/src/main?

[2021-08-02 12:56] wenchajun commented on #65
Ok, Sorry for the late reply. I will add it after modification and improvement

[2021-08-12 07:25] rienafairefr opened #118 "operator YAML including the status field"
The fluent-bit operator setup YAML (the version I got, at https://raw.githubusercontent.com/kubesphere/fluentbit-operator/release-0.8/manifests/setup/setup.yaml) includes the status field in the resources:
[code]

AFAIK, this is not needed because the status will be set by the kube apiserver ?

With 'normal' kubectl apply it doesn't really matter, I think, but in some cases it might (I saw a probl

[2021-08-12 09:42] wenchajun commented on #118
This is automatically generated. We use KubeBuilder to develop fluentBit-Operator.For details, please refer to https://book-v1.book.kubebuilder.io/basics/status_subresource.html.
CRD generation tool will use the +kubebuilder:subresource:status annotation to enable status subresource in the CRD definition. So, if you run `make manifests` , it will regenerate the CRD manifests under config/crds/<kin

[2021-08-12 15:09] elchead opened #119 "New --watch-namespace flag not supported in current docker image"
When adding the args in the docker hub `kubesphere/fluentbit-operator` image the flag is not supported.
As far as I understand, by default all namespaces are included. Maybe this comment could be included in the README section

[2021-08-13 07:49] wanjunlei commented on #119
The v0.9 has been released, you can try it again.

[2021-08-13 17:07] liangyuanpeng opened #123 "Seem like Makefile run command not correct"
I just got the error when i run `make run`.

[code]
May be `cmd/manager/main.go` not `./main.go` ?

[code]

[2021-08-16 01:32] wanjunlei commented on #123
Yes, you are right, this is a bug. Do you want to commit a pr to fix this bug?

[2021-08-17 02:46] #123 closed

[2021-08-19 14:32] #119 closed

[2021-08-31 16:10] awcheney opened #132 "Helm chart not uninstalling custom resources"
I've been installing the operator using terraform to install using your helm chart and I'm finding some problems running a `terraform destroy` - it eventually times out because it can't delete the namespace. This seems to be due to the `fluentbits` custom resource finalizer - if I patch the resource to remove the finalizer, the deletion proceeds as expected.

To take terraform out of the equation,

[2021-09-08 02:01] zhu733756 opened #141 "Quick-start doesn't take effect when have installed other logging components like logging-stack."
As the title described, quick-start doesn't take effect when have installed other logging components like logging-stack.

This is not to say that there is a problem with the quick-start file, but that the name of fluentbit/fluentbitconfig and selectors is the same as logging-stack.

Since the problem occurs when applying or deleting the quick-start to the environment that has installed logging-sta

[2021-09-12 03:46] vincentchong1 commented on #88
I will like a little bit more instruction on how to use TCP with TLS as explained above.
Follow the documented example. my deployment below work.
Which Input from the worker syslog is being written into the master specific tcp port 5170.
I will like to find out how to add the TLS.  Is that mean I can add the FluentBitSpec in the same yaml file?

`[centos@k8smaster ~]$ kubectl apply -f fluentbit-op

[2021-09-13 02:41] wanjunlei commented on #88
Firstly, create a secret include your tls file.

[code]

Secondly, mount it to the operator. The files will mounted into /fluent-bit/secrets/<secret-name>

[code]

Thirdly, use the tls files in the output.

[code]

[2021-09-13 08:31] FeynmanZhou commented on #141
Thanks, it works.

[2021-09-23 03:48] wenchajun commented on #132
Helm does not remove resources such as CRD

https://helm.sh/docs/chart_best_practices/custom_resource_definitions/

And fluentbit is not deployed by helm, it is generated by Fluentbit-Operator.

[2021-09-23 05:49] #88 closed

[2021-09-23 05:58] #141 closed

[2021-09-23 09:16] awcheney commented on #132
Aaaah, OK, of course - d'oh! Thanks @wenchajun...

[2021-09-23 09:16] #132 closed

[2021-10-02 05:54] awcheney opened #151 "Kubernetes plugin neither annotating nor logging errors"
Hi there folks,

Not certain if this is a fluentbit-operator problem or a general fluentbit kubernetes filter plugin issue...

I've implemented the operator using helm into a namespace called 'logging', using images `kubesphere:operator:fluentbit-operator:v0.12.0` and `kubesphere/fluent-bit:v1.8.3`; it's using the standard `input` (`docker`, `kubelet` and `tail`) and `filter` (`containerd`, `kuber

[2021-10-26 02:57] panyis opened #157 "Multiple path is not supported"
Only one path is supported here
https://github.com/fluent/fluentbit-operator/blob/4b96fcc0a7e19a5bb89f7051982d7bcee538b2a2/api/fluentbitoperator/v1alpha2/plugins/input/tail_types.go#L28

But as documented in [fluentbit doc](https://docs.fluentbit.io/manual/pipeline/inputs/tail)

[2021-10-29 03:36] LQBing opened #158 "fluentbit-operator repeat output error log ,if I scale deployment fluentbit-operator up"
Image:kubesphere/fluentbit-operator:v0.5.0

I enable kubesphere logging plugin, scale deployment fluentbit-operator up.

pod  fluentbit-operator output error log again and again.

[code]

[2021-10-29 04:02] #158 closed, assigned to wenchajun, wanjunlei

[2021-10-29 11:05] LQBing opened #159 "How can I add log file path into log record?"
Some different log file in my log folder, I wanna know which one log file the log record collected from.

[2021-10-30 14:00] wenchajun commented on #159
It collects file paths in /var/log 、/var/log/journal   etc 。You can refer to this
https://github.com/fluent/fluentbit-operator/blob/master/pkg/operator/daemonset.go#L137

[2021-11-01 02:13] LQBing commented on #159
First, thx for your reply :)

I don’t know if it’s my presentation problem. I wanna add a field and fill it with the log file path into the log record, to let our dev know which one log file the log record collected from.
I'm trying migrate our log collect system from logstash + filebeat to fluentbit, but the `source` field is very importent for us. I searched your documents, and not find any para

[2021-11-01 03:07] wanjunlei commented on #159
According to your description, you should use `Tail` to collect logs. The `tail` can add the absolute path of the log file to the `tag`,

<img width="412" alt="1635735948(1)" src="https://user-images.githubusercontent.com/53003665/139616206-43beac52-96b9-4489-b703-e5fce98231f4.png">

https://docs.fluentbit.io/manual/pipeline/inputs/tail

and then you can use a `lua` filter to get the path of the l

[2021-11-01 03:16] benjaminhuo commented on #159
@LQBing Not sure if you're collecting logs in k8s env. K8s pod logs are output to the stdout and thus don't have a path, the k8s metadata like namespace, pod, container are all collected as part of the log messages, so if you're using fluentbit operator to collect k8s pod logs, you'll already have the info about where the log message comes from（from which namespace, pod, and container.

If you're

[2021-11-01 03:32] LQBing commented on #159
I find it, `pathKey` in `tail` plugin.

I'm sorry for waste your time and very thanks for your help. @wenchajun @wanjunlei  & @benjaminhuo

[2021-11-01 07:45] LQBing commented on #159
How to add my lua script?
I find `fluent-bit` pod load secret `fluent-bit-config` in namespace `kubesphere-logging-system`. I modified it, but it filled back after inputs.logging.kubesphere.io update.
I modified configmap `fluent-bit-lua` in namespace `kubesphere-logging-system`, but it doesn't seem to work.

[2021-11-01 08:02] wenchajun commented on #159
The operator watches those objects, constructs the final config, and finally creates a Secret to store the config. This secret will be mounted into the Fluent Bit DaemonSet.https://github.com/fluent/fluentbit-operator/blob/master/api/fluentbitoperator/v1alpha2/plugins/filter/lua_types.go,https://github.com/fluent/fluentbit-operator/blob/master/manifests/logging-stack/systemd-lua-config.yaml

[2021-11-01 08:10] LQBing commented on #159
I see. I added a test lua into the configmap, template from https://github.com/fluent/fluentbit-operator/blob/master/manifests/logging-stack/systemd-lua-config.yaml . But the created Secret is not include my test lua script.

kubesphere version : v3.1.1
fluentbit-operator Image: kubesphere/fluentbit-operator:v0.5.0
fluent-bit Image: kubesphere/fluent-bit:v1.6.9

![image](https://user-images.github

[2021-11-01 08:16] wenchajun commented on #159
Have you configured the corresponding filter？ like this
https://github.com/fluent/fluentbit-operator/blob/master/manifests/logging-stack/filter-systemd.yaml

[2021-11-01 08:36] LQBing commented on #159
You mean the custom lua script will be write into the Secret only the lua script is called by someone?

[2021-11-01 08:41] wenchajun commented on #159
Fluentbit configuration is written by operator. You can refer to lua configuration  https://docs.fluentbit.io/manual/pipeline/filters/lua

[2021-11-01 09:42] LQBing commented on #159
It works! Thank you!

[2021-11-01 09:42] #159 closed

[2021-11-02 02:10] LQBing opened #161 "How to add Affinity into daemonsets fluent-bit with helm installed fluentbit"
I installed fluentbit with helm in Azure Kubernetes Service, and there is a virtual-node-aci-linux node in the node pools.
Now I need update affinity of daemonsets `fluent-bit` to make pod `fluent-bit` not deploy to virtual-node-aci-linux node.
But it rolled back automatically, after I modify the affinity of daemonsets `fluent-bit`.
Is there a CRD defined the affinity of daemonsets `fluent-bit`?

[2021-11-02 02:20] #161 closed

[2021-11-02 06:27] LQBing opened #162 "Is there any way to keep fluent bit crd modify after kubesphere ClusterConfiguration update?"
I installed fluentbit with enable kubesphere logging plugin.
My cluster cri is containerd, not docker. So I need change input CRDs.
But if kubesphere ClusterConfiguration update, the logging plugin will be reinstalled, those CRDs I changed will be overwrite by ks-installer.
Any solution?

[2021-11-02 09:53] LQBing opened #163 "TimeKeep param in plugins/parser/regex_types.go incorrect"
https://github.com/fluent/fluentbit-operator/blob/master/api/fluentbitoperator/v1alpha2/plugins/parser/regex_types.go

[code]
It's incorrect! It is not `Time_Format true`

I find the time `Time_Keep` value `Time_Keep   On`  from fluent default parsers.conf

![image](https://user-images.githubusercontent.com/6857508/139824579-10c156a8-5d1a-45cb-928d-1b6dac9d9e2d.png)

[2021-11-02 14:24] benjaminhuo commented on #162
@wenchajun Do we still have this issue in v3.2?

[2021-11-02 14:38] wenchajun commented on #162
What is your version of Kubesphere? An adaptation for containerd is available in kubespherev3.2.Each change in ClusterConfiguration will cause the ks-Installer to be reinstalled, but the original configuration will be skipped.

[2021-11-02 14:55] wenchajun commented on #163
Maybe Time_Keep is better

[2021-11-03 01:59] wanjunlei commented on #163
Thank you for this, do you want to commit a PR to resolve this bug?

In addition, fluent bit is written in C language, in C language, `on` and `true` all will be converted to `1`, so `Time_Keep on` and `Time_Keep true` are both correct.

[2021-11-03 02:20] LQBing commented on #162
Kubesphere v3.1.1

v3.2 is available? I tried install it with kubekey in my testing machine, but error info tell me there is not docker imagekubesphere/ks-installer with tag v3.2.0

[2021-11-03 02:33] wenchajun commented on #162
Yes, And kubespherev3.2  is coming soon. If you are finished installing the component, you can scale ks-Installer to 0.

[2021-11-03 03:46] LQBing commented on #163
I committed the PR. But I'm not sure is there anything missing.

https://github.com/fluent/fluentbit-operator/pull/164

[2021-11-04 05:12] #163 closed

[2021-11-05 07:32] LQBing opened #165 "Input include a not exist path, tail input not working at all"
I add a custom path input like `/var/log/<mypath>/*/*`, then this path is not exist in some kubernetes node.
fluent bit output warn & error log info, and fluent bit does not output any thing. It is not correct.

![image](https://user-images.githubusercontent.com/6857508/140473844-e08c9370-bb66-4148-b721-c6c8d3a31960.png)

[2021-11-05 08:19] #165 closed

[2021-11-10 07:43] 760515805 opened #166 "How to set up multi-line log collection similar to java"
How to set up multi-line log collection similar to java
I can't find any examples

[2021-11-16 02:19] wenchajun commented on #166
You can refer to https://docs.fluentbit.io/manual/pipeline/filters/multiline-stacktrace

[2021-11-16 11:25] satrushn opened #168 "Fluentbit-operator doesn't reload configuration"
Hello.

I installed fluentbit-operator and it works. When I tried to configure something, change parsing, output, etc.
And I don't understand how it must reload changings.
I tried to restart pods but it doesn't help. Then in two hours I recognized that my new configuration installed.
But I don't understand how it works, how much time I must wait and which parameter I must adjust to reload it more

[2021-11-16 12:08] wenchajun commented on #168
Normally, the fluentbit-Operator automatically updates the configuration after you update the corresponding CRD. You can check the secret `fluent-bit-config` after the update. If it is changed, it means that the configuration is updated successfully

[2021-11-18 02:12] bigfacewo opened #169 "Invalid modification of ExcludePath"
I use fluent bit on kubesphere. Theoretically, I can determine which logs will be collected by modifying "input.spec.tail.excludepath", but I find it useless. I failed to ask for help in kubesphere forum. [This is the kubesphere forum link.](https://kubesphere.com.cn/forum/d/6073-kube-system)

fluent-bit:v1.6.9

Thank you very much for any help

[2021-11-18 02:45] wenchajun commented on #169
Thanks，I looked at the link. Please note the `Pod` fields in the picture. In other words, the log on the image is not the log generated on the POD. It is the log generated by the node. In fact, the log under the path has been excluded. As for why this log is generated, it is generated by docker and kubelet files.

[2021-11-18 02:46] bigfacewo commented on #169
@wenchajun Thanks,I'll see how to exclude these logs.

[2021-11-18 02:46] #169 closed

[2021-11-18 06:24] satrushn commented on #168
Thank you for your answer. It helped me to find what happened.

[2021-11-18 06:24] #168 closed

[2021-11-18 07:15] #166 closed

[2021-11-19 09:24] wenchajun opened #171 "[discussion]Do we need to change the domain?"
Although the CRD is currently at the namespace level, cluster-level logs and information can be collected. Wouldn't it make sense to add cluster-level CRDS? Because at the user level, usage is indistinguishable. What do we need to change? Domain? Or the name?

[2021-11-19 09:30] benjaminhuo commented on #171
We need cluster level crds because collecting logs is a cluster-wide behavior, we use namespace crd is not correct.  Namespaced crd should only collect namespace level logs.

[2021-11-19 09:32] benjaminhuo commented on #171
Now fb operator is a community project. Currently, it works doesn't mean the project should be kept that way.

[2021-11-19 09:38] wenchajun commented on #171
Perhaps namespace-level CRDS will be obsolete in the future? However, in prometheus-operator crds, it is also namespace level

[2021-11-19 10:10] benjaminhuo commented on #171
Ref

https://banzaicloud.com/docs/one-eye/logging-operator/ is a good example and prometheus is not

[2021-11-23 09:22] wenchajun commented on #171
If so, maybe this PR is better https://github.com/fluent/fluentbit-operator/pull/167.

[2021-11-29 07:22] satrushn opened #174 "Parser error"
Hello!
I try to configure FluentBit-operator and I have an error:

[error] [input:tail:tail.0] parser 'docker' is not registered

What I don't understand in configuration?

My configuration is (in secret fluent-bit-config):
fluent-bit.conf:

[Service]
    Http_Listen    0.0.0.0
    Http_Port    2020
    Http_Server    true
[Input]
    Name    tail
    Path    /var/log/containers/*.log
    Refresh_

[2021-11-29 07:26] wenchajun commented on #174
You can refer to this https://github.com/kubesphere/kubesphere/issues/4425
If you have any other questions, please feel free to ask。

[2021-11-29 07:35] wenchajun commented on #174
Docker parser is built into Fluentbit，so you don't need to create the Parser, you can delete it.
https://github.com/fluent/fluentbit-operator/blob/master/conf/parsers.conf

[2021-11-29 09:24] ws-prive opened #175 "Permission denied error in the setenv container"
Hi,

Testing this on a minikube cluster, I do see an error in the setenv container

[code]

minikube was started with:
[code]
Any idea how to fix this?

[2021-11-29 09:30] wenchajun commented on #175
You can run the following command
[code]
Then modify the path https://github.com/fluent/fluentbit-operator/blob/master/charts/fluentbit-operator/templates/fluentbit-operator-deployment.yaml#L49 ,
change to the path you got

[2021-11-29 09:50] ws-prive commented on #175
Hi @wenchajun,

Thanks, but my crictl is in the path from the helm-chart:

[code]
I think the problem is that it should be run with higher priviledges.

[2021-11-29 09:53] wenchajun commented on #175
Could you show me your deployment yaml?
[code]

[2021-11-29 09:55] ws-prive commented on #175
[code]

[2021-11-29 10:01] wenchajun commented on #175
[code]
because your crictl path is different from the origin path,so you can change this  to solve this problem

[2021-11-29 10:07] ws-prive commented on #175
Done that, do see now:

[code]

[2021-11-29 10:11] wenchajun commented on #175
You can delete the pod and run it again. Can you run this command on the command line and see if it returns a result
[code]
or
[code]

[2021-11-29 10:16] ws-prive commented on #175
Do you want me to use the original deployment from the helm? Where do you want me to exec into a shell? There is no shell available in the fluentbit-operator pod.

[2021-11-29 10:20] wenchajun commented on #175
You just need to execute it from the command line, in your local machine

[2021-11-29 10:25] ws-prive commented on #175
Hi:

With /usr/bin/crictl:
[code]
With /usr/local/bin/crictl:
[code]

[2021-11-29 10:47] wenchajun commented on #175
Is this the all message? You can delete the fluentbit-operator pod and check the message.

[2021-11-29 10:49] ws-prive commented on #175
This is all I see after deleting the pod again

[code]

[2021-11-30 02:32] wenchajun commented on #175
I have used helm installation and cannot reproduce your problem. And I think the fluentbit-operator function works properly. If you can, please provide more error information.

[2021-11-30 10:16] ws-prive commented on #175
Hi @wenchajun,

I have removed the minikube cluster and installed a vm with kubernetes 1.22.3 (kubeadm install). I still have the problem, in the logs of the setenv container I still see:

[code]
Is it possible to make the path: /usr/local/bin/crictl configurable in the values.yaml file?

[2021-11-30 11:54] satrushn commented on #174
Thank you.
Then after removing, how I must parse logs like this, field message:
{"log":"2021-11-30 11:50:19.377 [INFO][39] int_dataplane.go 959: Applying dataplane updates\n","stream":"stdout","time":"2021-11-30T11:50:19.378077212Z"} ?

[2021-11-30 12:02] wenchajun commented on #174
Maybe you can give the parser another name.like
[code]
But I'm not sure what your needs are.This field is in JSON format. You can handle log information through various Fluentbit plug-ins.

[2021-11-30 12:05] wenchajun commented on #175
OK, I will fix it. Do you want to commit a PR to resolve this?

[2021-12-02 07:05] inversionhourglass opened #177 "kafka output not support dynamic_topic configuration"
fluentbit supports `Dynamic_Topic` starting with version [1.5](https://docs.fluentbit.io/manual/v/1.5/pipeline/outputs/kafka), but I can find this configuration key in [API Doc](https://github.com/fluent/fluentbit-operator/blob/release-0.12/docs/plugins/output/kafka.md)

[2021-12-02 07:09] wenchajun commented on #177
Yes, I will add corresponding support later, if you like, you can provide corresponding PR

[2021-12-02 07:51] satrushn commented on #174
I added a filter:

[PARSER]
    Name    my-json
    Format    json
    Time_Key    time
    Time_Format    %Y-%m-%dT%H:%M:%S.%L
    Time_Keep    true

And now I see in logs the same:

message | {"log":"[2021/12/02 06:52:31] [ info] [storage] version=1.1.1, initializing...\n","stream":"stderr","time":"2021-12-02T06:52:31.435600219Z"}

I would like to see fields like:

log  [2021/12/02 06:52:31] [ i

[2021-12-02 09:34] wenchajun commented on #174
What environment do you use? kubesphere? or just Kubernetes?
Maybe you can try
[code]

[2021-12-02 13:44] satrushn commented on #174
I use Kubernetes and input:
[Input]
Name tail
Path /var/log/containers/.log
Refresh_Interval 10
Skip_Long_Lines true
DB /fluent-bit/tail/pos.db
DB.Sync Normal
Mem_Buf_Limit 5MB
Parser docker
Tag kube.

Information from tail of file is already in field 'message'
message | {"log":"[2021/12/02 06:52:31] [ info] [storage] version=1.1.1, initializing...\n","stream":"stderr","time":"2021-12-02T06:52:31.

[2021-12-02 14:15] wenchajun commented on #174
Maybe you can use this parser to modify it
https://github.com/fluent/fluentbit-operator/blob/master/conf/parsers.conf#L125
In fact, this is fluentbit configuration, you can refer to fluentbit documentation to modify the configuration
https://docs.fluentbit.io/manual/pipeline/inputs/tail

[2021-12-04 05:35] 760515805 opened #179 "OutPut elasticsearch can not use attribute indexName"
Because my index uses life cycle management，So I want the log output to a specific index name, or alias
But the current version does not seem to support the official index_name configuration
**index_name** or **indexName**
![image](https://user-images.githubusercontent.com/16426260/144698658-65856620-795c-4718-922e-dd9f9f2a8728.png)
![image](https://user-images.githubusercontent.com/16426260/14469

[2021-12-04 05:42] 760515805 commented on #179
https://github.com/fluent/fluentbit-operator/blob/master/docs/plugins/output/elasticsearch.md

[2021-12-04 05:42] #179 closed

[2021-12-04 05:48] 760515805 opened #180 "OutPut elasticsearch Configuration setting error"
My profile
![image](https://user-images.githubusercontent.com/16426260/144699087-e00dc9c4-4a56-47c3-88a8-3def10bc1bd2.png)
Generated configuration file
![image](https://user-images.githubusercontent.com/16426260/144699100-fef8d0ac-5f45-4048-9167-23800f7b98c7.png)

[2021-12-04 09:18] wenchajun commented on #180
This is a known bug that has been fixed. Please see https://github.com/fluent/fluentbit-operator/pull/160.

[2021-12-04 09:25] 760515805 commented on #180
Is there a fix in the latest version 0.12.0? I upgraded and the bug is still there

[2021-12-04 09:27] wenchajun commented on #180
No yet, maybe you can package an image and run it yourself

[2021-12-04 09:28] 760515805 commented on #180
ok thanks for your answer

[2021-12-04 09:28] #180 closed

[2021-12-07 06:05] #175 closed

[2021-12-08 01:45] #177 closed

[2021-12-16 02:03] 519859716 opened #183 "fluent-operator process zombie"
if fluent-operator process is in zombie status , it can not recover by itself.  can not add liveness probe or do something for hearbeat

[2021-12-16 03:35] wenchajun commented on #183
It doesn't usually cause this problem, can you show me the logs?

[2021-12-16 06:34] 519859716 commented on #183
hello
this is just our test case for DFX
1、find out the  fluent-operator docker process
[root@k8s-4 ~]# docker ps |grep fluentbit-operator
892bf193483f        rvm:5100/kubesphere/fluentbit-operator                 "/manager"               2 days ago          Up 2 days                               k8s_fluentbit-operator_fluentbit-operator-85855568c6-6ng9f_kubesphere-logging-system_89dfe4d6-a84a-46

[2021-12-17 09:54] wenchajun commented on #183
@519859716  Currently, No liveness probe added to deployment's YAML

Are you interested in collaborating on this?

[2021-12-21 06:21] 519859716 commented on #183
It's pleasure to involve in our project .  we have put it in our development plan. if it work fine ,i will update it in our project . @wenchajun

[2021-12-29 03:46] wanjunlei opened #184 "Use k8s master URL instead of `kubernetes.default.svc`"
Now the `Kubernetes` filter used the `https://kubernetes.default.svc:443` as the `Kube_URL`, so the fluent bit pod must have access to service in the default namespace.

We can use the master URL of k8s that get from the kube config file instead of the service to avoid unnecessary authorization.

[code]

There will have a DNS resolve error when using the domain, so it needed to mount the `/etc/hos

[2021-12-29 03:54] benjaminhuo commented on #184
https://lb.kubesphere.local:6443 is the same in very k8s distribution's kubeconfig ?
We have to make sure of that first

[2021-12-29 04:02] wanjunlei commented on #184
This URL is getting from the kube config file, not fixed. `https://lb.kubesphere.local:6443` is just for kubesphere.

[2021-12-29 04:06] benjaminhuo commented on #184
How do we get access to the kubeconfig file of the node?

[2021-12-29 04:09] wanjunlei commented on #184
No need to access the kube config file in the pod, the URL should be obtained by the administrator, and then configure the filter.

[2021-12-29 04:13] benjaminhuo commented on #184
So by default, it's still `https://kubernetes.default.svc:443`, and the user can config it to the one in kubeconfig if he needs that.

What we can do here is mount the `/etc/host` ?

[2021-12-29 05:56] wanjunlei commented on #184
Yes

Yes

[2021-12-29 06:05] benjaminhuo commented on #184
That's ok

[2022-01-07 07:54] LQBing opened #187 "who can upgrade kubesphere/fluent-bit image"
fluent bit v1.8.3 has [an issue about cpu and RAM](
https://github.com/fluent/fluent-bit/issues/4312), and this issue has been fixed in fluent bit v1.8.11. But the fluent bit version in kubesphere is `kubesphere/fluent-bit:v1.8.3`

I try to build a new image with https://github.com/fluent/fluentbit-operator/blob/master/cmd/fluent-bit-watcher/Dockerfile with just
a few edit( replace `FROM fluent/fl

[2022-01-07 08:11] wanjunlei commented on #187
You can try this `kubespheredev/fluent-bit:v1.8.11`.

[2022-01-07 09:10] LQBing commented on #187
It seems work, maybe. I'm not find any exception about CPU & RAM with it running several hours in my cluster.

[2022-01-20 16:05] LeonD9 opened #188 "level=error err="no such file or directory" when trying to add config files to /fluent-bit/etc"
Hey,
I am using the following image `kubespheredev/fluent-bit:v1.8.11` and trying to create /etc/fluent-bit/config directory to store config files i gather through sidecar in there (tried creating config files that are not fluent-bit.conf or parsers.conf in there and it doesn't work either)
and use via `@INCLUDE` method in main fluent-bit config since its not possible to include files that aren't

[2022-01-21 01:53] wanjunlei commented on #188
By default, adding config files that are not `fluent-bit.conf` or `parsers.conf` is not supported.

https://github.com/fluent/fluentbit-operator/blob/master/conf/fluent-bit.conf#L1

If you want to do this, you can modify the `fluent-bit.conf` file and build a new image

https://github.com/fluent/fluentbit-operator/blob/master/Makefile#L81

[2022-01-25 11:22] #188 closed

[2022-01-26 04:34] zhu733756 opened #190 "enhance Fluentd-operator integration #189"
Plans:
- [ ] Push official image like fluent/fluent-operator:xxx
- [ ]  Clean up for the codes in helper.go. A bit urgly
- [ ] Add docs to README.  Modify the proposal doc
- [ ] Add more fluentd examples
- [ ] Refactor multi images/binaries build
- [ ] Enhance docs explanations
- [ ] More e2e tests for fb/fd configuration generated.

enhance #189

[2022-01-26 12:10] muhammedsoner opened #191 "Fluentbit Operator "index" wrong convert Index"
Hi, When elasticsearch output "index" is defined, it performs the conversion as "host" inside.
es-output.yaml
--------------------------------

[code]

[2022-01-26 14:33] wenchajun commented on #191
hi, @muhammedsoner . Thank you for your feedback. This issue has been fixed, please see https://github.com/fluent/fluentbit-operator/pull/160.

[2022-02-08 07:17] wenchajun commented on #190
- [ ]  Change fluentbit's crd from namesapce level to cluster level

[2022-02-08 07:34] zhu733756 commented on #190
- [ ] Refactor kafka output plugin to support multi-topics

[2022-02-11 02:10] #171 closed

[2022-02-19 02:00] davidovich opened #205 "Missing ClusterFluentBitConfig, ClusterOutput and ClusterInput from the manifests/setup directory"
When starting the manager, I get missing CRDs errors, but I cannot find those in the repository.

Missing:
* ClusterFluentBitConfig
* ClusterOutput
* ClusterInput

I used `make manifests` and I cannot find these CRDs in the output, is this expected ?

They are listed (Cluster* and non Cluster)  in the `config/crd/bases` directory.

After further searching, I can see that the non `Cluster`-prefix a

[2022-02-21 04:33] zhu733756 opened #207 "Add CI templates for fluentbit-operator"
Refer to https://github.com/fluent/fluentd/tree/master/.github

/help
/first-good-issue

[2022-02-21 18:57] davidovich commented on #205
Yes, thank you, this is fixed by the merge of #204

[2022-02-21 18:57] #205 closed

[2022-02-23 09:45] wenchajun opened #215 "Refining the helm chart section"
Although the helm-chart for fluentbit-operator has now been upgraded to fluent-operator, there are some features that need to be improved. Reference can be made to：https://github.com/fluent/helm-charts
Some parameters need to be configured or customised to suit the situation.

[2022-02-26 04:28] zhu733756 commented on #215
- Add monitoring section
- Optional ha deployment for fluentd

Any other propsals?

[2022-02-26 04:29] zhu733756 opened #220 "Add more tests for Fluent Bit"
- function tests
- e2e tests

/help

[2022-02-28 05:01] zhu733756 opened #221 "Support autoscaling for fluentd instance."
Add an autoscale field to implement the logic for auto HPA operators with horizontalpodautoscalers.

/assgin @zhu733756

[2022-02-28 05:31] zhu733756 commented on #221
Part of #190

[2022-02-28 05:31] #221 closed

[2022-02-28 06:05] benjaminhuo commented on #215
autoscaling might not work for stateful set

[2022-02-28 06:07] zhu733756 commented on #215
Supported k8s verion > 1.9, see https://stackoverflow.com/questions/54663845/apply-hpa-for-statefulset-in-kubernetes

[2022-02-28 12:42] wenchajun opened #222 "The wrong configuration file was generated"
Hi guys, I have installed fluent-operator using helm. it installed successfully and also deployed fluentd and fluentbit pods successfully. but I found out that these two pods are reporting errors by checking the logs. The configuration file it produced was different and produced a `@48b7c...` label under route. But after I delete the two profiles, these are [fluentd.yaml](https://github.com/fluent

[2022-02-28 14:13] benjaminhuo commented on #222
@zhu733756 what do you think?

[2022-03-01 00:41] zhu733756 commented on #222
Can't a namespaced level configuration file and a cluster level configuration file exist at the same time?

You see one cluster-level ClusterFluentdConfig or FluentdConfig will generate a route. Perhaps at least one filter or output should be defined?

[2022-03-01 02:43] wenchajun commented on #222
I used only one command to install.
[code]

[2022-03-02 02:43] benjaminhuo commented on #222
@zhu733756 Is this a bug we should fix?

[2022-03-02 02:59] zhu733756 commented on #222
I will test and fix it.

[2022-03-07 07:49] #222 closed

[2022-03-08 23:45] davidovich opened #227 "How can fluent-operator be consumed as a go module ?"
I am trying to consume fluent-operator to allow scheme registration for using go-client to programmatically interface with the fluent-operator CRDs, but it is not possible to `go get fluent.io/fluent-operator`, it responds with a 404, and so does not implement the go module interface.

Using the github repo url does not work either as the declared module in the go mod is not the same as where it i

[2022-03-10 03:14] zhu733756 commented on #227
Yeah, i will fix it.

[2022-03-10 04:01] #227 closed

[2022-03-10 10:33] patrick-stephens opened #230 "Helm chart tarball in release"
Make a tarball for the Helm chart and add it to the release - then people can do a `helm install <URL>` directly rather than having to clone the git repo. This can be done with a simple action: https://github.com/helm/chart-releaser-action

An example is here: https://github.com/couchbase-partners/helm-charts/releases/tag/couchbase-operator-2.2.301

https://github.com/helm/helm/pull/9482 is in the

[2022-03-10 10:43] benjaminhuo commented on #230
Good idea @wenchajun would you help on this?

[2022-03-10 10:46] wenchajun commented on #230
OK, I will do it at once.

[2022-03-10 10:53] patrick-stephens commented on #230
The Couchbase chart workflows are here if it helps: https://github.com/couchbase-partners/helm-charts/tree/master/.github/workflows

Specifically: https://github.com/couchbase-partners/helm-charts/blob/master/.github/workflows/publish-ci.yml#L66-L69

[2022-03-10 17:52] davidovich commented on #227
Thanks for the fast response! Kudos!

[2022-03-11 21:51] davidovich opened #233 "generated clientset is not present anymore in this repo"
Clientset was added in b95dcb030639e28353bc82cb1998c47e04191180 then removed in 1d5a484558702cc850fe0e3e564046223c473ab0

Is this expected ? I would like to consume the fluentbit clientset and would have expected to find it in this repo. Should I be looking somewhere else ? Thanks !

[2022-03-11 21:55] davidovich commented on #233
The hierarchy is present, but pacakges are empty.

![image](https://user-images.githubusercontent.com/1440370/157975803-902f1160-968b-4158-89db-ef8d5eed4753.png)

[2022-03-11 22:26] davidovich commented on #233
Found `api/generated/clientset/versioned/typed/fluentbitoperator/v1alpha2/fluentbit.go` in https://github.com/fluent/fluent-operator/commit/1d5a484558702cc850fe0e3e564046223c473ab0, but `api/` does not exist anymore.

[2022-03-12 00:06] zhu733756 commented on #233
Hi, thanks for your feedback, I pull a request for fixing this issue, pls help to review it.

[2022-03-12 00:09] zhu733756 commented on #230
Great, we will integrate this tool later.

[2022-03-12 05:15] #233 closed

[2022-03-12 10:58] patrick-stephens commented on #230
Looks good in the release now, we should update the docs to use the tarball now: https://github.com/fluent/fluent-operator#deploy-fluent-operator-with-helm

[2022-03-12 10:59] benjaminhuo commented on #230
agree @zhu733756

[2022-03-15 23:59] davidovich opened #237 "The clientset should not need a namespace for cluster scoped resources"
The generated clientset for ClusterInputs (and other types of now (as of 1.0-rc) cluster-bound resources) needs a namespace, but since ClusterInput (et al.) is a cluster scoped resource, the Create fails.

Consider:

[code]

The above fails. It is equivalent to a manual call on the API:

[code]

Manually calling the API at non-namespaced path (note the removed namespace):

[code]
Succeeds.

ref: [

[2022-03-16 03:19] #237 closed

[2022-03-16 12:36] davidovich commented on #237
Thank you for the fantastic support!

[2022-03-16 12:40] zhu733756 commented on #237
No pls, let's make this repo more popular!

[2022-03-20 08:13] xmtao0805 opened #240 "Fluentd ： Failed to add out elasticsearch authentication"
====================
apiVersion: v1
data:
  password: cEBzc3cwcmQ=
  username: ZWxhc3RpYw==
kind: Secret
metadata:
  name: es-secret
  namespace: logging
type: Opaque
======================

apiVersion: fluentd.fluent.io/v1alpha1
kind: ClusterOutput
metadata:
  name: k8s-kube-system
  labels:
    output.fluentd.fluent.io/enabled: "true"
    output.fluentd.fluent.io/role: "log-operator"
spec:
  out

[2022-03-20 08:40] wenchajun commented on #240
This looks like there is a problem with validation. Incidentally, you can hide the password the next time you ask a question.

[2022-03-20 08:52] xmtao0805 commented on #240
thanks for reminding
But I decrypt via base64 and the password is correct
It looks like there is a problem with the secretKeyRef key, it gets my username

[2022-03-20 09:16] wenchajun commented on #240
In my opinion, you can check this in two ways. First you can start by looking at the secret fluentd-config to check that the passwd is written correctly. Then you can check es to see if it can be accessed via that password, if not, change es.

[2022-03-20 09:33] xmtao0805 commented on #240
![1](https://user-images.githubusercontent.com/32706929/159156335-9df8a2d5-1924-40c7-902f-2ef6484fc670.png)
![2](https://user-images.githubusercontent.com/32706929/159156336-df520051-64b7-4423-b975-6fcf8ee33341.png)

I can test it here

[2022-03-20 09:48] wenchajun commented on #240
The configuration file should not be placed in the deployment, it is the output crd. Here https://github.com/fluent/fluent-operator/blob/master/apis/fluentd/v1alpha1/plugins/output/es.go#L26.

[2022-03-20 09:55] wenchajun commented on #240
One more thing, fluent-operator will generate the appropriate fluentd config file based on the crd you write and then mount it on `fluentd`, so if that doesn't work you can show me the secret `fluentd-config`. it's base64 encoded, you can decode it and see.

[2022-03-20 09:59] xmtao0805 commented on #240
I tried to decode the secrets fluentd-config and found that the password it got was wrong

![11](https://user-images.githubusercontent.com/32706929/159157168-01c7a8e9-3525-46ac-a0a3-6a109e06088d.png)

[2022-03-20 10:01] xmtao0805 commented on #240
But the configuration in my ClusterOutput is correct

what's going on
thanks

![22](https://user-images.githubusercontent.com/32706929/159157224-9b2c253b-ec79-44a3-a6b5-fe333f41987b.png)

[2022-03-20 11:33] wenchajun commented on #240
You can try creating two secrets and see if its `passwd` is the desired value.

[2022-03-21 00:31] xmtao0805 commented on #240
This is a good idea
But it doesn't solve the problem, it gets the username

![1](https://user-images.githubusercontent.com/32706929/159192630-c8b5f7b4-64ad-476f-b7fd-b3755cf6d68e.png)
![2](https://user-images.githubusercontent.com/32706929/159192634-518b53c6-db75-4678-98aa-6be0db95c46b.png)
![3](https://user-images.githubusercontent.com/32706929/159192637-ebae2a72-f9ab-48a8-9105-30e3b752074e.png)

[2022-03-21 01:27] benjaminhuo commented on #240
@zhu733756 Please take a look if this is a bug in fluentdoutput

[2022-03-21 01:28] zhu733756 commented on #240
OK.

[2022-03-21 01:33] zhu733756 commented on #240
@xmtao0805 @wenchajun @benjaminhuo

Ref: https://github.com/fluent/fluent-operator/blob/master/apis/fluentd/v1alpha1/plugins/output/types.go#L364

[2022-03-21 03:43] xmtao0805 commented on #240
Dears ,
After I modified it, I still can't push the data to es. What is the es version supported by fluentd? My es version is 7.12.0, but fluentbit can

![4](https://user-images.githubusercontent.com/32706929/159202367-b8ee93f3-9f65-4e9b-ac1c-ec8587a77a8a.png)

[2022-03-21 04:20] xmtao0805 commented on #240
Thanks a lot for the answer, it works.

[2022-03-21 04:45] zhu733756 commented on #240
So it is just a log wranning?

[2022-03-21 04:59] xmtao0805 commented on #240
Yes. It's an alarm, but I'm not sure if it will have other effects in subsequent use
Is there a compatibility list?

[2022-03-21 05:02] zhu733756 commented on #240
Maybe needs a research between fluentd and elaticsearch v7.12.0.  Would you like to implement this guide or give a pr on it?

[2022-03-21 05:11] xmtao0805 commented on #240
It's okay, I just want to make sure the version is compatible.
Of course, in my environment, the version of es is not a hard requirement
I'm going to look up the compatibility of fluentd
thank you very much

[2022-03-21 05:32] zhu733756 commented on #240
No pls, it's an honor to accept your PR.  If you have other questions, please let us know.

[2022-03-21 05:35] zhu733756 commented on #240
Ref: https://github.com/fluent/fluent-operator/blob/master/cmd/fluent-watcher/fluentd/Dockerfile.amd64. And we would do research also.

[2022-03-22 08:23] mangoGoForward commented on #207
I'd like to tackle this issue, and which elements must have in fluentbit-operator's CI templates?

/assign

[2022-03-22 08:25] zhu733756 commented on #207
Glad to hear that, big mango brother!

[2022-03-22 08:30] zhu733756 commented on #207
Except for workflows I think.  Needs to change the description for other files.

[2022-03-22 10:51] wangxiaoyang-dev opened #243 "Bug: fluentbit operator does not supports 'Time_Key_Nanos' field"
fluent bit's output elasticsearch module supports 'Time_Key_Nanos' field, see below for details:
https://docs.fluentbit.io/manual/v/1.8/pipeline/outputs/elasticsearch#:~:text=dT%25H%3A%25M%3A%25S-,Time_Key_Nanos,-When%20Logstash_Format%20is
but fluentbit operator does not support 'Time_Key_Nanos' field, see below for details:
https://github.com/fluent/fluent-operator/blob/master/apis/fluentbit/v1a

[2022-03-22 13:16] wenchajun commented on #243
Yes, we will be refining this field in the future. Would you like to contribute code?

[2022-03-23 01:54] wangxiaoyang-dev commented on #243
Yes. I will try.

[2022-03-23 04:04] baoroushi opened #244 "fluentd: Consuming topic from Kafka？"
Hello,
I have a problem，Data flow, such as:
fluentbit > kafka > fluentd > ES
Can you give me some advice or guidance？

[2022-03-23 04:59] zhu733756 commented on #244
The breaking point is how to input kafka data to fluentd.
1. Currently, we support Fluentd http plugin to get data from applications. You may need a daptor to do that.
2. I guess you may use kafka as a mq, instead of the above method,  why not adjust the replicas of the fluentd?

/cc  @wenchajun @wanjunlei @benjaminhuo

[2022-03-23 13:56] davidovich opened #247 "How to configure net.keepalive ?"
I have not found any configuration in the CRDs that allow global network configuration of the plugins. For example, fluent-bit allows [configuration of the keepalive](https://docs.fluentbit.io/manual/administration/networking#connection-keepalive). Is this a wanted feature going forward?

[2022-03-24 02:39] benjaminhuo commented on #247
@davidovich Yes, this is a wanted feature for sure. It'll be great if you can submit a PR for this!

[2022-03-24 02:42] #207 closed

[2022-03-25 11:26] JoseAntonioConde opened #253 "Example file not found"
### Describe the bug

Execute the command for quickstart with fluentbit:

kubectl apply -f https://raw.githubusercontent.com/fluent/fluentbit-operator/release-0.12/manifests/setup/setup.yaml

Returns error:
error: unable to read URL "https://raw.githubusercontent.com/kubesphere/fluentbit-operator/master/manifests/quick-start/quick-start.yaml", server reported 404 Not Found, status code=404

### To

[2022-03-25 12:23] wenchajun commented on #253
Thank you very much for your feedback, this looks like an error in the documentation and we will fix it as soon as possible.

[2022-03-25 16:28] henrikrexed opened #254 "How to add new plugins in the fluentd Output"
### Is your feature request related to a problem? Please describe.

it seems that adding new plugins requires to
- modifiy the image of fluentd /fluentbit by installing the extra plugins
- modifier the various CRDs to allow our user to configure the new plugin

This constraint will slow the adoption , because lots of customers are using community  plugins

### Describe the solution you'd like

Pro

[2022-03-26 00:11] zhu733756 commented on #254
Thanks for the great ideas.

Our design is to deploy fluentbit as a daemonset to collect logs, sink to the storage like es, loki,etc. Fluentd acts as a statefulset workload to receieve the logs from fluentbit or apps, also could sink to the storages.

[2022-03-27 05:47] #253 closed

[2022-03-28 01:48] mangoGoForward opened #256 "Feature request issues auto closed by mistake"
### Describe the bug

Feature request issues auto closed by mistake, because the feature_request template's  `description` doesn't match with the
 attribute of `issue-pattern` in `issue-auto-closer`

[code]

### To Reproduce

Open a feature request, and it will closed by bot automatically.

### Expected behavior

if match the `issue-pattern`, issues will still open.

### Your Environment

[code]

[2022-03-28 01:48] mangoGoForward commented on #256
I will fix it.
/assign

[2022-03-28 02:49] #256 closed

[2022-03-28 03:25] #243 closed

[2022-03-28 03:27] benjaminhuo commented on #244
@baoroushi Close this for now, you can reopen it whenever you feel necessary

[2022-03-28 03:27] #244 closed

[2022-03-28 08:58] benjaminhuo commented on #254
@henrikrexed I agree with the idea of `Provide a guide helping our community in building custom images.`

Regarding the second point `to avoid modifying the various CRDs, we should have a way of adding "custom" Filter, output, parser steps`, there're two methods to support various plugins:
- add plugin settings via annotation
- add plugin settings as the current method

The annotation method is fl

[2022-03-28 09:10] baoroushi commented on #240
The prompt of fluent bit log is as follows:
----------------------------------------------------------------------------------------------
"2022/03/28 09:00:19] [ warn] [engine] chunk '16-1648458003.156515404.flb' cannot be retried: task_id=3, input=systemd.1 > output=es.0
[2022/03/28 09:00:19] [error] [output:es:es.0] HTTP status=401 URI=/_bulk, response:
{"error":{"root_cause":[{"type":"security

[2022-03-28 09:10] baoroushi commented on #240
@wenchajun @benjaminhuo

[2022-03-28 09:12] baoroushi commented on #240
@benjaminhuo @wenchajun Are there any cases or solutions?

[2022-03-28 09:22] xmtao0805 commented on #240
`kubectl  create secret generic es-secret --from-literal=username=xxx --from-literal=password=xxx`
ClusterOutput Yaml Fragment
` spec:
  outputs:
  - elasticsearch:
      host: xxx
      logstashFormat: true
      logstashPrefix: xxx
      password:
        valueFrom:
          secretKeyRef:
            key: password
            name: es-secret
      port: 9200
      user:
        valueFrom:

[2022-03-28 09:24] xmtao0805 commented on #240
`kubectl create secret generic es-secret --from-literal=username=xxx --from-literal=password=xxx`
ClusterOutput Yaml Fragment
[code]

[2022-03-28 10:11] baoroushi commented on #240
Dears ,
I feel very much that your answer is in your busy schedule. After configuring according to your method, the following errors will be prompted:
error: error validating "./output-elasticsearch.yaml": error validating data: [ValidationError(ClusterOutput.spec.es): unknown field "passwoha2.ClusterOutput.spec.es, ValidationError(ClusterOutput.spec.es): unknown field "user" in io.fluent.fluentbi

[2022-03-28 10:52] baoroushi commented on #240
thank you very much!

[2022-03-30 03:13] jayenzo opened #258 "ComparisonError converting (v1.APIGroup) to (v1.APIResourceList)"
### Describe the bug

not  too sure what the issue can be I've deployed the operator via Argocd the rest of the components have successfully synced but when I try to apply the following two files

` kubectl apply  -f .\fluentBitConfig.yaml
error: unable to recognize ".\\fluentBitConfig.yaml": no matches for kind "ClusterFluentBitConfig" in version "fluentbit.fluent.io"

kubectl apply -f .\output.y

[2022-03-30 07:09] zhu733756 commented on #258
@jayenzo Please check the CRDs you installed contains the targeted CRD. Trying to apply the CRDs again.  I suggest you install the setup/setup.yaml.

[2022-03-30 12:38] jayenzo commented on #258
@zhu733756 I've applied the setup.yaml but I'm still gettitng the error

`kubectl apply -f .\fluent-bit.yaml
error: unable to recognize ".\\fluent-bit.yaml": no matches for kind "FluentBit" in version "fluentbit.fluent.io"

 kubectl apply -f .\fluentBitConfig.yaml
error: unable to recognize ".\\fluentBitConfig.yaml": no matches for kind "ClusterFluentBitConfig" in version "fluentbit.fluent.io"
kub

[2022-03-30 12:41] zhu733756 commented on #258
Please delete CRDs like `*.logging.kubesphere.io`.

[2022-03-30 13:37] jayenzo commented on #258
delete all the CRDs. related to *.logging.kubesphere.io

but I'm still getting the error
`error: unable to recognize ".\\fluent-bit.yaml": no matches for kind "FluentBit" in version "fluentbit.fluent.io"`

NAME                                                  CREATED AT
alertmanagerconfigs.monitoring.coreos.com             2022-03-07T04:37:00Z
alertmanagers.monitoring.coreos.com

[2022-03-30 13:53] zhu733756 commented on #258
Can you apply the CTDs again after deleting the CRDs.  Actually,  I cannot reproduce it by steps.

[2022-03-30 14:47] jayenzo commented on #258
kubectl apply -f .\fluent-bit.yaml
error: unable to recognize ".\\fluent-bit.yaml": no matches for kind "FluentBit" in version "fluentbit.fluent.io"

kubectl get crds NAME                                                  CREATED AT
alertmanagerconfigs.monitoring.coreos.com             2022-03-07T04:37:00Z
alertmanagers.monitoring.coreos.com                   2021-12-03T16:15:52Z
bgpconfigurations.

[2022-03-30 14:50] jayenzo commented on #258
Appreciate the feedback

what do you think the problem is

[2022-03-30 14:53] wenchajun commented on #258
It looks like indeed [fluentbit's crd](https://github.com/fluent/fluent-operator/blob/master/manifests/setup/setup.yaml#L4769)

[2022-03-30 14:59] jayenzo commented on #258
Is there a branch where I can use the
no matches for kind "FluentBit" in version "fluentbit.fluent.io"

[2022-03-30 16:52] jayenzo commented on #258
@wenchajun Thanks the yaml you suggested works ! [
](https://github.com/fluent/fluent-operator/blob/master/manifests/logging-stack/fluentbit-fluentBit.yaml)

[2022-04-01 02:27] gmarkey opened #259 "Invalid mountPath for fluent init container when using crio"
### Describe the bug

When `containerRuntime` is set to `crio`, the initContainer tries to mount the `env` volume at `/fluentbit-operator`, but it expects it to be mounted at `/fluent-operator` in the `command` section.

### To Reproduce

```helm install fluent-operator . --set containerRuntime=crio```

Init container will crash with `/bin/sh: can't create /fluent-operator/fluent-bit.env: nonexist

[2022-04-02 05:43] lseshan opened #262 "Fluent Bit CR doesn't report error when the ClusterFluentBitConfig object defined in spec.fluentBitConfigName is not present"
### Describe the bug

Deployed a FluentBit CR with a fluentBitConfigName field set. However the corresponding, "ClusterFluentBitConfig" object is not deployed.FluentBit pod did not get deployed.
- No Error message in FluentBit CR.

### To Reproduce

Apply Below and will not see fluentBit pod deployed. And no status indicating error in the config.
cat <<EOF | kubectl apply -f -
apiVersion: fluentbi

[2022-04-02 06:16] benjaminhuo commented on #262
We might need to update FluentBit CRD status for case like this

[2022-04-04 03:48] jayenzo opened #263 "broken connection/ failed to flush chunk"
### Describe the bug

After configuring fluentd ClusterOutput and ClusterInput

apiVersion: fluentbit.fluent.io/v1alpha2
kind: ClusterOutput
metadata:
  name: es
  labels:
    fluentbit.fluent.io/enabled: "true"
    fluentbit.fluent.io/component: logging
spec:
  matchRegex: (?:kube|service)\.(.*)
  es:
    host: elasticsearch-tools.internal
    port: 9200
    generateID: true
    logstashPrefix: k

[2022-04-04 03:48] jayenzo commented on #263
not too sure what I'm missing ?

[2022-04-04 05:09] wenchajun commented on #263
Hi @jayenzo . Can you please enable debug log level and share the log?
https://github.com/fluent/fluent-operator/blob/master/apis/fluentbit/v1alpha2/clusterfluentbitconfig_types.go#L66

[2022-04-04 07:45] petergvizd commented on #254
Hello @benjaminhuo

we would like to use fluent-operator with fluent-plugin-grok-parser, so I would like to ask, what is meant by "add plugin settings as the current method"? Do you mean by this, to add support for plugin to code, CRDs and image or something else?

[2022-04-04 08:06] wenchajun commented on #254
Hi, you can refer to these use cases
https://github.com/fluent/fluent-operator/tree/master/apis/fluentbit/v1alpha2/plugins

[2022-04-04 13:53] jayenzo commented on #263
This is my configmap @wenchajun
apiVersion: fluentbit.fluent.io/v1alpha2
kind: ClusterFluentBitConfig
metadata:
  name: fluent-bit-config
  labels:
    app.kubernetes.io/name: fluent-bit
spec:
  service:
    LogFile:
    parsersFile: parsers.conf
  inputSelector:
    matchLabels:
      fluentbit.fluent.io/enabled: "true"
  filterSelector:
    matchLabels:
      fluentbit.fluent.io/enabled: "true"

[2022-04-04 19:58] jayenzo commented on #263
`docker inspect 7bc4f5e76baf
[
    {
        "Id": "sha256:7bc4f5e76baf8b1470a8aa124f900dbdb262535189a703ec92f335e5150a45fa",
        "RepoTags": [
            "kubesphere/fluent-bit:v1.8.11"
        ],
        "RepoDigests": [
            "kubesphere/fluent-bit@sha256:b17510fd77513ffa8592637f61a35b1f0e8d348d1520f39df30580c41868c43f"
        ],
        "Parent": "",
        "Comment": "buildkit.do

[2022-04-04 21:26] jayenzo commented on #263
kubectl exec -i -t -n kubesphere-logging-system fluentd-forward-0 -c fluentd -- sh -c "clear; (bash || ash || sh)
/usr/bin $ nc -zv elasticsearch-tool.internal 9200
elasticsearch-tool.internal (192.168.34.202:9200) open

2022-04-04 20:36:16 +0000 [warn]: #0 [FluentdConfig-kubesphere-logging-system-fluentd-config::kubesphere-logging-system::output::fluentd-stdout-0] Could not communicate to Elastic

[2022-04-05 08:40] wenchajun commented on #263
This seems to show that it cannot connect

[2022-04-06 08:20] wenchajun commented on #262
Yes, but generally speaking you need to configure `fluentbit` with `fluentbitconifg` to deploy the `fluentbit` pod.

[2022-04-07 08:53] wenchajun opened #264 "Add its shortname for each CRD"
### Is your feature request related to a problem? Please describe.

Now, not every CRD has its corresponding shortname. `fluentd` and `fluentbit` plug-in CRDs do not have a corresponding shortname, can we add a corresponding shortname for them?

### Describe the solution you'd like

We can add the corresponding shortname for each CRD

### Describe alternatives you've considered

The shortname for

[2022-04-07 09:15] benjaminhuo commented on #264
Please list each CRD with its current shortname, and suggested shortname @wenchajun

[2022-04-07 09:40] wenchajun commented on #264
| CRD                                         | current | suggest |
| ------------------------------------------- | ------- | ------- |
| fluentbits.fluentbit.fluent.io              | fb      |         |
| clusterfluentbitconfigs.fluentbit.fluent.io | fbc     |         |
| clusterinputs.fluentbit.fluent.io           |         | fbi     |
| clusterfilters.fluentbit.fluent.io          |         | fb

[2022-04-07 09:50] benjaminhuo commented on #264
The cluster crd should have c for shortname like fbi => cfbi

[2022-04-07 10:58] benjaminhuo commented on #264
fbc => cfbc

[2022-04-07 12:18] wenchajun commented on #264
| CRD                                         | current | suggest |
| ------------------------------------------- | ------- | ------- |
| fluentbits.fluentbit.fluent.io              | fb      |         |
| clusterfluentbitconfigs.fluentbit.fluent.io | fbc     |    cfbc     |
| clusterinputs.fluentbit.fluent.io           |         | cfbi     |
| clusterfilters.fluentbit.fluent.io          |

[2022-04-08 05:41] benjaminhuo commented on #264
Looks good now

[2022-04-14 08:57] Startouf commented on #230
I believe this was done and can be closed ?

[2022-04-14 09:04] #230 closed

[2022-04-21 01:07] hostalp opened #265 "Helm Chart: fluentbit.output.es.logstashPrefix from values.yaml ignored"
### Describe the bug

The `fluentbit.output.es.logstashPrefix` value from values.yaml is ignored, `ks-logstash-log` is always used.
In your `fluentbit-output-elasticsearch.yaml` the value is hardcoded instead of using the value from values.yaml:
[code]
I'm also missing the `fluentbit.output.es.replaceDots` option in there which is what we also need to set in order to get things to work properly (h

[2022-04-21 03:01] hostalp opened #266 "Helm Chart: Add FluentBit Prometheus integration"
### Is your feature request related to a problem? Please describe.

Please add the Prometheus support into the Helm Chart just like the https://github.com/fluent/helm-charts/tree/main/charts/fluent-bit (for example) has.
It enables the metrics HTTP server and creates a service resource for it, with optionally using the `prometheus.io` annotations (for the "old" style Prometheus server support), or

[2022-04-21 03:06] FeynmanZhou commented on #266
Thanks for this feature request. I remember @benjaminhuo @wenchajun also mentioned the Prometheus metrics support for the Helm chart in the Fluent Operator roadmap. Maybe we could collaborate to make it happen.

[2022-04-24 01:29] mangoGoForward commented on #265
I'd like to work on this issue, please assign to me.
/assign

[2022-04-24 01:48] wenchajun commented on #265
Ok,thanks

[2022-04-25 02:04] #264 closed

[2022-04-25 10:48] #265 closed

[2022-04-25 17:24] hostalp commented on #265
While you're at it you could perhaps do something similar for the fluentd es output as well.

[2022-04-26 14:47] hostalp opened #270 "Helm Chart: allow advanced/custom configuation of output plugins"
### Is your feature request related to a problem? Please describe.

I use fluentd with the elsticsearch output plugin, installed from Helm chart. The related part of my Helm chart `values.yaml` is as follows:
[code]
Now I'm experiencing some performance issues with ES calls failing due to timeout (read timeout reached), therefore I need to perform some configuration tuning.

This is however not so

[2022-04-26 17:52] hostalp opened #271 "Helm Chart: Incorrect resources values for fluentd"
### Describe the bug

The `fluentd-fluentd.yaml` file contains the following:
[code]
Clearly the values should come from `fluentd.resources` and not `fluentbit.resources`

### To Reproduce

Install the Helm chart with different settings of `fluentd.resources` and `fluentbit.resources`
Verify that the fluentd is actually running with the fluentbit resources settings instead of the fluentd ones:
`ku

[2022-04-27 06:31] benjaminhuo commented on #271
@hostalp Thanks for reporting this issue.
Would you like to create a PR to fix this?

[2022-04-27 15:50] ivacolop opened #272 "Fluentd filter parser plugin bug"
### Describe the bug

Hi!

When I ceate a filter in fluentd with the parser plugin the secret "fluentd-config" that is created don't contain the values correctly

### To Reproduce

My manifests:
[code]

fluentd-config secret generated on app.conf section filter:
[code]

### Expected behavior

[code]

### Your Environment

[code]

### How did you install fluent operator?

with yaml https://raw.gith

[2022-04-28 08:14] wenchajun commented on #272
Can this condition be reproduced? Can you show other configurations?

[2022-04-28 12:12] hostalp commented on #270
I'm also encountering the issue https://github.com/uken/fluent-plugin-elasticsearch/issues/785 which could be remedied with setting `suppress_type_name true` but again it's currently impossible to specify it via Helm chart values.

As there's quite a lot of possible settings, it would be probably easier to add some "custom" configuration section instead of directly supporting each setting supporte

[2022-04-28 13:34] ivacolop commented on #272
An apology @wenchajun , I have added more configuration details.

[2022-04-29 07:57] #271 closed

[2022-05-06 10:13] zhuw0312 opened #274 "how to set loglevel in clusterfluentbitconfigs.fluentbit.fluent.io ?"
pls tell me  how to set loglevel in clusterfluentbitconfigs.fluentbit.fluent.io ?

[2022-05-06 10:13] #274 closed, assigned to nobody

[2022-05-06 10:29] zhuw0312 opened #275 "how set log_level of fluentbit ?"
### Describe the bug

installed fluent-operator in only fluent-bit mode，but can not set log_level.
the default log_level is info which can not debug.

### To Reproduce

i want set log_level=debug.

### Expected behavior

i want set log_level=debug.

### Your Environment

[code]

### How did you install fluent operator?

kubectl apply set-up.yaml

### What happened?

level=info msg="Fluent bit star

[2022-05-06 10:40] wenchajun commented on #275
In fluentbit its configuration is this : https://docs.fluentbit.io/manual/v/1.8/pipeline/inputs/syslog#fluent-bit-configuration
You can configure these parameters in the fluent-operator:
https://github.com/fluent/fluent-operator/blob/master/apis/fluentbit/v1alpha2/clusterfluentbitconfig_types.go#L35
like this
[code]

[2022-05-07 02:13] zhuw0312 commented on #275
oh , tks very much.
i set log_Level: DEBUG，not work.

[2022-05-07 02:13] #275 closed

[2022-05-07 08:56] zhuw0312 opened #276 "how to config multi input and oupt?how to add custom parser config？"
### Is your feature request related to a problem? Please describe.

first:

kind: ClusterInput
metadata:
  annotations:
  generation: 8
  labels:
    fluentbit.fluent.io/enabled: "true"
    fluentbit.fluent.io/mode: k8s
  name: tail
  resourceVersion: "27809976"
  selfLink: /apis/fluentbit.fluent.io/v1alpha2/clusterinputs/tail
  uid: 54bfdf5c-86d5-414f-b76f-a6bdf64838f4
spec:
  tail:
    db: /flue

[2022-05-10 08:39] buxiaomo opened #280 "how use rename_key on ClusterFilter"
I want to rename fields, like this

input like
[code]
output like

[code]

conf file like:

[code]

[2022-05-10 08:39] #280 closed

[2022-05-10 08:47] buxiaomo opened #281 "how use rename_key on ClusterFilter"
### Describe the bug

input like

[code]

output like

[code]

configuration file like

[code]

### To Reproduce

how to use rename_key on ClusterFilter

### Expected behavior

how to use rename_key on ClusterFilter

### Your Environment

[code]

### How did you install fluent operator?

kubectl kustomize manifests/setup/ | kubectl apply -f -

### What happened?

_No response_

### Your Error Log

[2022-05-10 20:51] hostalp opened #282 "Helm Chart: uninstall not completing cleanly"
### Describe the bug

After installing the fluent-operator (1.0.0) via Helm and then uninstalling it, some resources aren't removed cleanly and become stuck in the terminating state.
I can understand that CRDs aren't deleted by Helm (see #132), but I still have to mess with the other resources in order to get things fully removed removed. This shouldn't be necessary.

### To Reproduce

`helm upgra

[2022-05-11 08:21] #259 closed

[2022-05-11 10:31] wenchajun commented on #282
This is the reason for helm. The reason is that helm unloads each cr in an unordered way, so it causes a certain CR to get stuck. `fluent-operator` does the relevant processing when deleting `fluentd` or  `fluentbit`, you can refer to these codes.
https://github.com/fluent/fluent-operator/blob/master/controllers/fluent_controller_finalizer.go

[2022-05-11 10:35] wenchajun commented on #281
Does this plugin refer to fluentd's plugin? fluentd's plugin may not be perfect, more plugin integrations are in development, you can try this one: https://github.com/fluent/fluent-operator/blob/master/apis/fluentd/v1alpha1/plugins/filter/record_transformer.go

[2022-05-11 15:07] wenchajun opened #284 "Fluentbit integrated OpenSearch plugin"
### Is your feature request related to a problem? Please describe.

Fluent Bit is a graduated sub-project under the Cloud Native Computing Foundation (CNCF) Fluentd project umbrella. Similar to the parent project, Fluent Bit has hundreds of integrations to common tools such as Kafka, Syslog, Loki, as well as to services like Datadog, Splunk, and New Relic. Now with Fluent Bit 1.9, OpenSearch is in

[2022-05-11 15:18] wenchajun opened #285 "Fluentd integrated OpenSearch plugin"
### Is your feature request related to a problem? Please describe.

For users not familiar with Fluentd, one of its strengths is the ability to collect data from multiple sources through plugins and add formatting, processing, or enrichment before sending it out to multiple outputs. There are over 500+ community plugins for Fluentd that can read data including enterprise staples like Kafka, as wel

[2022-05-12 19:51] hostalp commented on #282
So the problem is in the CR uninstall order? You may try the workaround with List: https://github.com/helm/helm/issues/8439#issuecomment-1068979423
https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/list.yaml
However I'm not sure if uninstall would respect that (in reverse order), perhaps not.

Other than waiting for the https://github.com/helm/helm/issues/8439 to be implemented, p

[2022-05-13 02:17] wenchajun commented on #282
Yes, it might be possible to add a preprocessing mechanism to determine the order of uninstallation of helm, which might be a new feature.

[2022-05-13 02:20] wenchajun commented on #220
PR has been merged

[2022-05-13 02:20] #220 closed

[2022-05-17 07:09] mangoGoForward commented on #284
I'd like to tackle it.

[2022-05-17 07:19] wenchajun commented on #284
Thank you. If you have any questions, please feel free to talk.

[2022-05-17 13:56] benjaminhuo commented on #284
Great!

[2022-05-18 03:37] buxiaomo commented on #281
thk

[2022-05-18 03:37] #281 closed

[2022-05-18 03:58] hostalp opened #295 "Helm Chart 1.0.2: fluent-bit: unknown configuration property 'DB.Sync'"
### Describe the bug

When 1.0.2 is installed from Helm chart, fluent-bit pods error out with:
[code]
And they don't work properly then.
I quickly tested 1.0.1 and it also appears to be affected.
No such issue with 1.0.0

### To Reproduce

Deploy 1.0.2 as follows:
[code]
with **fluent-operator-values.yaml**:
[code]

### Expected behavior

fluent-bit pods starting without issues

### Your Environme

[2022-05-18 04:26] wenchajun commented on #295
This looks like a problem with fluentbit, it might be better to change the version of fluentbit, `kubesphere/fluent-bit:v1.8.11`. Do we have to change the version of fluentbit? @benjaminhuo

[2022-05-18 04:49] benjaminhuo commented on #295
We should verify that v1.8.11 doesn't have this problem and v1.9.3 introduce this, `looks like` is not enough.

If so, you can change the FB version to v1.8.3 temporarily and update the yaml and helm accordingly.

But we should keep finding the root cause of the error, maybe by checking the release notes between v1.8.11 and v1.9.3 to see what changes should we make to fix this or talk to fluentbit

[2022-05-18 05:03] hostalp commented on #295
I've already reinstalled 1.0.2 with fluent-bit image changed to 1.8.11 and it does start just fine.
As for the issue that's behind this, have a look at https://github.com/fluent/fluent-bit/issues/5426

[2022-05-18 06:48] benjaminhuo commented on #295
@hostalp Thanks for the info.
@wenchajun would you help to set the fluentbit version back to 1.8.11 for both the operator and the walkthrough repo including update the release page stuff? and we'll upgrade to a higher version than v1.9.3 when the fix is included?

[2022-05-18 12:53] jett-deng commented on #285
I'd like to tackle this issue.

[2022-05-18 13:10] benjaminhuo commented on #285
@jett-deng That's great, thanks!

[2022-05-20 08:26] mangoGoForward opened #299 "Upgrade fluent-bit image version to v1.9.0"
### Is your feature request related to a problem? Please describe.

Fluent-bit has released to `v1.9.3`, and  integrated OpenSearch plugin.
Now we also want to integrate OpenSearch plugin, so we should upgrade fluent-bit image version

### Describe the solution you'd like

Please see [PR](https://github.com/fluent/fluent-operator/pull/298).

### Describe alternatives you've considered

Upgrade flu

[2022-05-20 15:24] igajsin opened #300 "Official fluentbit image has CVEs"
### Describe the bug

Hi. I've made a security-check for official fluentbit images and it founds a lot of CVEs (including criticals). See the example
[code]
I'm not sure it's a correct place to address the issue. If not, please tell me where I should create a bug-report.

### To Reproduce

Install the vulnerability scanner trivy like described here https://aquasecurity.github.io/trivy/v0.17.0/inst

[2022-05-21 15:04] wenchajun commented on #300
Thank you for your feedback, I would like to ask, is there an appeal bug in the fluent community images?

[2022-05-21 15:14] wenchajun opened #301 "Support custom plugins for fluentbit"
### Is your feature request related to a problem? Please describe.

fluentbit and fluentd have an unusually rich way of collecting and processing logs, mainly due to their multiple plugins. But fluent-operator does not integrate all plug-ins, and there should be a priority for the order of integrating plug-ins, which plug-ins do you want to integrate most?

### Describe the solution you'd like

We

[2022-05-22 05:19] benjaminhuo commented on #300
@igajsin Would you test the official fluent bit image `fluent/fluent-bit:1.8.11` to see if the official image has the same problem?

[2022-05-22 14:47] wenchajun opened #302 "Modify the form of fluentd monitoring log"
### Is your feature request related to a problem? Please describe.

Currently, in fluentd we have added a `watcher` layer to monitor the configuration of fluentd to achieve the effect of automatic restart. But this way works but also brings a lot of inconvenience, so we plan to use a form of listening to the secret to reload the configuration automatically.

### Describe the solution you'd like

L

[2022-05-23 03:38] wenchajun commented on #272
I tested it a few times and I found that if the configuration is not cluster-wide you should add the namespace you want the configuration to belong to.

[2022-05-23 03:41] benjaminhuo commented on #272
Besides, you'd better install the fluent operator new version v1.0.2 that includes fixes to fluentd config reload

[2022-05-23 09:43] #284 closed

[2022-05-23 09:57] mangoGoForward commented on #299
Seems it will upgrade fluent-bit image version manually when public a release version, so I will close this issue.

[2022-05-23 09:57] #299 closed

[2022-05-23 09:59] benjaminhuo commented on #300
@igajsin I think you can try the latest fluent/fluent-bit:1.9.3 release, and if still the same problem you can open a issue in fluent-bit repo

[2022-05-23 11:34] igajsin commented on #300
There is a new issue in fluent-bit repo: https://github.com/fluent/fluent-bit-docker-image/issues/53 Thanks for your support.

[2022-05-23 11:34] #300 closed

[2022-05-26 09:25] wenchajun opened #304 "Add a new way to deploy fluentbit"
### Is your feature request related to a problem? Please describe.

Since fluentbit upgraded to 1.9, many plugins have been added, such as the `Prometheus Scrape Metrics` plugin, but it is not convenient to collect some information if configured in the form of daemonset. So I would like to add the deployment method to deploy fluentbit.

### Describe the solution you'd like

To do this we need to a

[2022-05-26 09:51] wenchajun opened #305 "Modify the input mechanism of fluentd"
### Is your feature request related to a problem? Please describe.

Because we use the label-router component, this provides great convenience for the implementation of multi-tenant isolation. However, it currently does not receive logs from messages such as HTTP, and we are designing a better solution to this problem.

### Describe the solution you'd like

For the `http`  plugin, we just need to

[2022-05-26 10:32] benjaminhuo commented on #305
maybe it's not only HTTP, all non-k8s format logs received from the network need to be handled.
label_rounter only works for k8s format logs

[2022-05-27 16:34] frankgreco commented on #301
I don't know if FluentBit supports OTLP for logs (public docs would indicate it's only tracing) but I would love to see OTLP for logs.

[2022-05-30 03:28] benjaminhuo commented on #301
OTLP for logs is just a spec to specify log format?
If so looks like it can be a separate input plugin in fluentbit
@patrick-stephens @agup006 What do you think?

[2022-06-02 02:31] frankgreco opened #308 "Cut New Release That Includes OpenSearch"
### Is your feature request related to a problem? Please describe.

it appears that opensearch has been merged. Can we get `v1.0.3` cut?

### Describe the solution you'd like

n/a

### Describe alternatives you've considered

n/a

### Additional context

_No response_

[2022-06-02 02:36] wenchajun commented on #308
Although we are currently using fluentbit 1.8.11, users can manually upgrade fluentbit's version. Is there any reason why it must be removed?

[2022-06-02 02:38] frankgreco commented on #308
I meant an new operator version that includes the k8s control plane changes for this plugin

[2022-06-02 02:41] frankgreco commented on #308
And cut as in "create a new release" not remove it. Sorry for the lingo

[2022-06-02 03:06] benjaminhuo commented on #308
That's a new feature added, so the new release could be v1.1.0

[2022-06-02 03:07] frankgreco commented on #308
That works too 🙂

[2022-06-02 19:11] frankgreco commented on #308
@benjaminhuo when would you be able to create the new tag/release/assets?

[2022-06-02 19:52] frankgreco opened #309 "Incorrect Value for KeyDoesNotExist"
### Describe the bug

[`Condition.KeyDoesNotExist`](https://github.com/fluent/fluent-operator/blob/0988420656d2037c731f6343ffbbf61f2fdaac36/apis/fluentbit/v1alpha2/plugins/filter/modify_types.go#L28) takes `map[string]string`. However, the [docs](https://docs.fluentbit.io/manual/pipeline/filters/modify) only have one param. I think this should be similar to `KeyExists`?

Is this a bug? If so I'll

[2022-06-05 12:41] benjaminhuo commented on #309
@frankgreco Thanks for reporting this, and we'll take a look at this

[2022-06-05 12:41] benjaminhuo commented on #308
@frankgreco Hopefully in a week

[2022-06-05 12:49] tanmay-bhat opened #310 "Add Loki output support for Fluentd"
### Is your feature request related to a problem? Please describe.

Yes, since loki is easy and simple to ingest logs, it would be great if the loki plugin is available for fluentd

### Describe the solution you'd like

Loki output plugin should exist for fluend similar to fluent-bit

### Describe alternatives you've considered

None

### Additional context

_No response_

[2022-06-06 03:03] wenchajun commented on #309
This is because `fluentbit` 1.7 and earlier versions had two values, with the upgrade of `fluentbit` the value of this parameter is only one value. You can see [here](https://docs.fluentbit.io/manual/v/1.7/pipeline/filters/modify#conditions).

[2022-06-06 09:21] patrick-stephens commented on #301
My main concern around this is having a bespoke CRD for every plugin: a plugin has it's own configuration which is essentially bespoke per plugin and then we wrap this in another interface just for the CRD.

Why can't we just have a generic one that allows us to be flexible for every plugin as it evolves - how is the current approach going to handle changes in configuration parameters in different

[2022-06-06 16:22] frankgreco commented on #309
@wenchajun It makes sense then for backwards compatibility. However, anyone that is isn't familiar with FluentBit v1.7 or earlier (which I assume is most people) will be confused. Perhaps there could be a `KeyDoesNotExistLegacy` or something that makes it less confusing (I guess this would be a breaking change so not ideal)? At a minimum a code comment describing what to do for earlier versions (e

[2022-06-06 16:26] frankgreco opened #311 "Annotation Support"
### Is your feature request related to a problem? Please describe.

There is no way to inject annotations into FluentBit DaemonSet pods. This is problematic as I cannot add the necessary annotations to my Prometheus scraper to scape the metrics that these pods expose.

### Describe the solution you'd like

Allow the user to add them [here](https://github.com/fluent/fluent-operator/blob/master/apis

[2022-06-06 17:11] frankgreco opened #312 "Readable FluentBit Config"
### Is your feature request related to a problem? Please describe.

The configuration is not formatting in a readable way.
[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

n/a

### Additional context

The observed output is from the following commend.
[code]

[2022-06-07 01:13] wenchajun commented on #312
Maybe we add a tab to the insert? like `\t`

[2022-06-07 01:22] frankgreco commented on #312
Yea something like that. The number of types will change based on the longest key. I can take a look at this.

[2022-06-07 02:34] benjaminhuo commented on #311
That's a good requirement, would you help to add this? @frankgreco

[2022-06-07 02:54] frankgreco commented on #311
Yea you can assign it to me.

[2022-06-07 07:35] #311 closed

[2022-06-08 09:47] benjaminhuo commented on #301
If each plugin is a CRD, too many plugins may result in over-complex config generation logic. And too many CRDs to watch.
We'll upgrade FluentBit and operator sooner enough after a new version of FB is released.

I don't understand the 3rd concern: The FluentBit Yaml is to define how the fluent bit daemonset will be deployed. The yaml for operator is just a deployment. You mean to combine the `Flu

[2022-06-08 19:00] frankgreco commented on #301
I think @patrick-stephens is referring to [this](https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/yaml). Personally, I don't really have an opinion on whether you keep them the same or not. The reality is they won't ever map one to one as we have secret references and other things that can and should be k8s specific.

Anyways, one CRD per FluentBit concept (i.e. Filter, Outpu

[2022-06-08 22:06] frankgreco commented on #309
@wenchajun what do you think?

[2022-06-08 23:55] agup006 commented on #309
1.7 and 1.8 are already EOL, I like the suggestion of KeyDoesNotExistLegacy or an alternative. Do we need to raise in Fluent Bit main repo?

[2022-06-09 01:40] benjaminhuo commented on #309
The Condition.KeyDoesNotExist has been changed since v1.8.
I think it makes sense to change it accordingly in fluent operator because now fluent operator supports v1.8+ and we're going to release a new version to support v1.9.

We needn't to `KeyDoesNotExistLegacy` for now because 1.7 is EOL.
@frankgreco would you create a PR for this?

[2022-06-09 01:47] frankgreco commented on #309
Yes. Btw I think there are a few other instances of this. We can apply the same fix as they are found. Btw, since this is a breaking change. I'll let you guys figure out how you want to handle the semver

[2022-06-09 02:14] benjaminhuo commented on #309
We're going to release 1.10

[2022-06-09 02:20] frankgreco commented on #309
I meant breaking change for this repo, the operator. We should probs audit the rest of the process in `apis/fluentbit` where this same issues applies and fix them before bumping the version.

[2022-06-09 03:12] benjaminhuo commented on #309
@frankgreco we might need to add CRD conversion for changes like this https://book.kubebuilder.io/multiversion-tutorial/conversion-concepts.html https://book.kubebuilder.io/multiversion-tutorial/conversion.html

An example is here https://github.com/OpenFunction/OpenFunction/blob/main/apis/core/v1alpha2/function_webhook.go
https://github.com/OpenFunction/OpenFunction/blob/main/apis/core/v1alpha2/f

[2022-06-09 03:59] #309 closed

[2022-06-09 04:28] frankgreco commented on #309
@benjaminhuo don't we need to decide on what the plan is to your comment before that PR is merged? Anyone that pulls `latest` will now run into errors and must upgrade all CRDs using that filter.

I think we need to go with this change. Regardless of whether or not there are quite a few changes like this, I think the disruption just this change alone causes is bad.

I think we should track v1beta1

[2022-06-09 08:30] wenchajun commented on #309
I think each version update will add or modify a part of the plug-in (including some bugfix). So each upgrade will result in a redeployment of crd. And with fluentbit 1.7 eol, lower versions of fluentbit are no longer supported.

[2022-06-09 10:54] patrick-stephens commented on #301
Agreed.

I would caution on CRD updates (i.e. updating CRDs in an installed system) as they can be messy, particularly for Helm users as Helm does not upgrade them so make sure to document any migration issues. However this is all manageable and again a tangent.

Essentially what we're saying though is the CRD is in some fashion coupled to the Fluent Bit version, e.g. a new setting or plugin intro

[2022-06-09 11:54] benjaminhuo commented on #309
@frankgreco the current k8s log processing pipeline doesn't use this functionality of the modify filter plugin and we haven't received an issue-reporting of his bug(The current FB version is v1.8.x+, which is incompatible with the old modify filter setting). Furthermore, v1.7.x has reached its EOL and the latest operator release will ship with recent FB version

So we may not upgrade the CRD versi

[2022-06-09 14:16] benjaminhuo commented on #309
OK, I understood your concern now.
Let's revert this PR and prepare to upgrade the CRD version and add CRD conversion to it.

[2022-06-09 14:19] benjaminhuo commented on #309
The PR has been reverted and let's reopen this issue to continue to work on it.

[2022-06-09 17:01] frankgreco commented on #301
Yea I'm specifically looking for logs so that I can point FluentBit to an OTLP (L=Logs "I think") compatible sink.

That's fine. But we can't ignore what happens when we need to make a breaking change to a current version like we unfortunately did [here](https://github.com/fluent/fluent-operator/issues/309). The current stance seems to be that we are okay making breaking changes and passing the bu

[2022-06-09 21:22] perezjasonr opened #320 "fluent bit CRD doesn't accomodate securityContext"
### Is your feature request related to a problem? Please describe.

We were considering trying out the fluent bit operator instead of a more basic fluent bit manifest. but if the CRD for fluent bit (or fluentd) doesn't give access to the securityContext the deployment will get blocked in our environment. The raw manifest obviously allowed this but the operator+CRD does not, short of patching it af

[2022-06-10 02:31] benjaminhuo commented on #320
That's a good requirement.
We can start adding this to fluentbit CRDs. @wenchajun @wanjunlei
Also, you're more than welcome to submit a PR for this as well.

[2022-06-10 13:28] benjaminhuo commented on #301
Instead of creating a new CRD for each plugin, I think we can have something in the middle that is:
- Keep adding new plugins in the current way to provide a strong type which is error pruning
- Add a new custom plugin mechanism like below to meet new plugin requirements
[code]

[2022-06-10 14:02] benjaminhuo commented on #309
We want to include your previous PR because the current filter plugin setting `KeyDoesNotExist` is still for fluent bit v1.7. Although the default image shipped with the operator is already v1.8.

We might release v1alpha3  CRDs maybe after adding the custom plugin CRD mentioned in https://github.com/fluent/fluent-operator/issues/301#issuecomment-1152362843

[2022-06-10 14:04] benjaminhuo commented on #301
Processing logs is the advantage of fluentbit and I don't think OTLP collector can be better.
So supporting OTLP logs via fluentbit is exciting just like collecting OTLP metrics and tracing by fluentbit

[2022-06-10 19:57] frankgreco commented on #309
Perhaps then to get started we can do this
[code]

[2022-06-10 22:13] patrick-stephens commented on #301
Agreed, so I think the request is support for OTEL logs with an input plugin in Fluent Bit - possibly by extending the current OTEL input plugin but I'm not an expert on that so don't want to say for sure. Probably should raise a linked issue then to add that enhancement over there @agup006 ?

[2022-06-10 22:25] frankgreco commented on #301
I specifically am looking for an output. For example, if it had OTLP as an output, I could sand FluentBit log to any OTLP compatible sink without FluentBit needing to support it natively.

[2022-06-10 22:39] patrick-stephens commented on #301
Ah right, sorry it wasn't clear.
An extension of the existing OTEL output to include logs as well as the current metrics (and traces coming): https://docs.fluentbit.io/manual/pipeline/outputs/opentelemetry
That's probably an enhancement for the main Fluent Bit repo we link back here. @agup006 though is the man to ask on how that best fits.

CRD updates for using OTEL output though might be a good

[2022-06-11 00:11] frankgreco commented on #301
Yes, you're right. Opened up [here](https://github.com/fluent/fluent-bit/issues/5559)

[2022-06-11 00:16] frankgreco opened #321 "Observability into FluentBit Failures"
### Is your feature request related to a problem? Please describe.

Say you're running a FluentBit version prior to `v1.9.3` and you use `-` in certain key names. This will cause a SEG issue in the FluentBit process and it will restart. How do I get visibility into failures like these. Since the wrapper causes the FluentBit process to restart, the Kubernetes pod will not restart.

### Describe the

[2022-06-11 00:19] frankgreco commented on #321
A potential solution is to add logic to the wrapper that
[code]

[2022-06-12 04:21] benjaminhuo commented on #301
Agree, @wenchajun we can create an issue to add the OpenTelemetry output plugin https://docs.fluentbit.io/manual/pipeline/outputs/opentelemetry

[2022-06-13 06:41] #285 closed

[2022-06-13 07:03] benjaminhuo opened #325 "Add OpenTelemetry & Node Exporter Metrics plugins for Fluent Bit"
### Is your feature request related to a problem? Please describe.

The [OpenTelemetry output plugin](https://docs.fluentbit.io/manual/pipeline/outputs/opentelemetry) allows you to take metrics from Fluent Bit and submit them to an OpenTelemetry HTTP endpoint.

The [OpenTelemetry output plugin](https://docs.fluentbit.io/manual/pipeline/outputs/opentelemetry) plugin works together with the [Node Ex

[2022-06-13 08:24] benjaminhuo commented on #301
An issue for adding the OpenTelemetry plugin has been created https://github.com/fluent/fluent-operator/issues/325

[2022-06-13 10:23] benjaminhuo commented on #309
https://github.com/fluent/fluent-operator/tree/v1alpha3
@frankgreco v1alpha3 branch created

[2022-06-13 10:37] benjaminhuo commented on #321
@frankgreco This is a very good requirement.
Maybe we can add `readiness/liveness probes` to the watcher itself and of course we can add promehteus metrics to it as well

[2022-06-13 11:41] mangoGoForward opened #326 "Docs: add a user guide for fluentbit's output plugin of OpenSearch"
### Is your feature request related to a problem? Please describe.

We already integrated OpenSearch plugin in fluent-bit, but missing a user guide to tell user how to use it, so I think we should add a guide like ElasticSearch (https://github.com/fluent/fluent-operator/blob/master/docs/plugins/fluentbit/clusteroutput/elasticsearch.md)

### Describe the solution you'd like

Add a guide like Elasti

[2022-06-13 11:55] mangoGoForward opened #327 "Helm chart: add template for fluentbit's output plugin of OpenSearch"
### Is your feature request related to a problem? Please describe.

We already integrated OpenSearch plugin in fluent-bit (https://github.com/fluent/fluent-operator/pull/298), but missing a helm template about fluentbit's output plugin of OpenSearch, so I think we should add it like ElasticSearch (https://github.com/fluent/fluent-operator/blob/master/charts/fluent-operator/templates/fluentbit-outp

[2022-06-14 02:03] mangoGoForward opened #328 "Issue templates: remove some verbose steps in issues template"
### Is your feature request related to a problem? Please describe.

We have two issue templates: [bug report](https://github.com/fluent/fluent-operator/blob/master/.github/ISSUE_TEMPLATE/bug_report.yaml) and [feature request], but some steps maybe too verbose to let users confused, and we could simplified steps which can let user contribute easily.
Like "What happened" and "Your Error Log" steps i

[2022-06-14 11:30] #326 closed

[2022-06-14 11:36] benjaminhuo commented on #328
Agree

[2022-06-14 17:07] frankgreco commented on #309
@benjaminhuo Thank you! I'm at Snowflake Summit this week but I'll PR against that branch (along with all of the new v1alpha3 boilerplate) when I get a chance.

[2022-06-14 17:09] frankgreco commented on #321
@benjaminhuo could you point me to where the watcher code lives?

[2022-06-15 01:29] mangoGoForward commented on #327
Completed #329

[2022-06-15 01:29] #327 closed

[2022-06-15 02:05] benjaminhuo commented on #321
The fluentbit watch is here: https://github.com/fluent/fluent-operator/tree/master/cmd/fluent-watcher/fluentbit

[2022-06-15 02:37] benjaminhuo commented on #254
There're some discussions about adding custom plugins in https://github.com/fluent/fluent-operator/issues/301#issuecomment-1152362843
 We'll see if that is a feasible approach.

[2022-06-16 05:48] benjaminhuo commented on #308
v1.1.0 has been released, close this issue.

[2022-06-16 05:48] #308 closed

[2022-06-16 06:29] #328 closed

[2022-06-20 10:24] zhu733756 commented on #301
I think we can also add some selectors here.

[2022-06-20 10:27] zhu733756 commented on #301
/lgtm

[2022-06-20 10:32] patrick-stephens commented on #301
Looks reasonable to me, would this also enable custom plugins if people build those into their container image? Rather than a named one supported by OSS but some bespoke Golang or similar one making a .so - I guess we would need a way to register it in the config file though:
[code]

[2022-06-20 13:53] JetSquirrel commented on #310
I'd like to tackle it.

[2022-06-20 13:57] benjaminhuo commented on #310
@JetSquirrel Great!

[2022-06-20 14:05] benjaminhuo commented on #301
Where should these plugin paths be added?
FluentBit itself has a separate configuration mechanism for this?

[2022-06-20 14:35] patrick-stephens commented on #301
Yup, that is just part of the usual configuration - you can `@include` it like any other as well. No different to any other config.
Anyone using additional Golang output plugins is likely using it.

[2022-06-21 07:11] Dduanduan opened #336 "help request: multiline settings don't work?"
### Description

The requirement is to collect multiline log information. like this:
![966D2FF4-4500-40af-B8E6-41627DDDF09F](https://user-images.githubusercontent.com/35992731/174730589-0b67fcde-3d6a-47f6-9f85-7bc2d5134a73.png)

I tried the tail input plugin setting the multiline true or the multiline filter setting the parser.
But the problem is  these settings don't seem to work.
maybe something

[2022-06-21 07:35] Dduanduan opened #337 "help request: https://github.com/fluent/fluent-operator/issues/336#issue-1277993098"
### Description

https://github.com/fluent/fluent-operator/issues/336#issue-1277993098

### How did you install fluent operator?

helm upgrade --install fluent-operator --create-namespace -n fluent fluent-operator.tgz

### Additional context

_No response_

[2022-06-21 07:35] #337 closed

[2022-06-22 04:22] hyt05 opened #338 "help request: How to create ClusterParser and correctly map fields corresponding to logs in nested json format to es"
### Description

The pod console on k8s outputs logs in json format, how to map the fields of json to elasticsearch using the correct filter

fluent-operator is deployed in kubernetes
[code]
我有以下嵌套的 json 日志
[code]
[code]

Below is my configuration
ClusterInput.yaml
[code]
clusterfilters.yaml
[code]
ClusterOutput.yaml
[code]
clusterparser.yaml
[code]

### How did you install fluent operator?

helm

[2022-06-22 04:26] hyt05 opened #339 "help request: How to create ClusterParser and correctly map fields corresponding to logs in nested json format to es"
### Description

Description
The pod console on k8s outputs logs in json format, how to map the fields of json to elasticsearch using the correct filter

fluent-operator is deployed in kubernetes
[code]
I have the following nested json log
[code]
Below is my configuration
[code]

### How did you install fluent operator?

helm install fluent-operator fluent-operator -n logging-system

### Additiona

[2022-06-22 04:26] #339 closed

[2022-06-22 04:28] hyt05 opened #340 "help request: How to create ClusterParser and correctly map fields corresponding to logs in nested json format to es"
### Description

How to create ClusterParser and correctly map fields corresponding to logs in nested json format to es

### How did you install fluent operator?

helm install fluent-operator fluent-operator -n logging-system

### Additional context

_No response_

[2022-06-22 04:28] wenchajun commented on #338
You can refer this https://github.com/fluent/fluent-operator#custom-parser

[2022-06-22 04:29] hyt05 commented on #340
why?

[2022-06-22 04:31] hyt05 commented on #338
文档很简洁没有有效的帮助

[2022-06-22 04:34] wenchajun commented on #338
This  is the example https://github.com/fluent/fluent-operator/tree/master/manifests/regex-parser

[2022-06-22 06:05] hyt05 commented on #338
thank you very much

[2022-06-23 02:25] benjaminhuo commented on #336
we support multi-line as I can remember? @wenchajun

[2022-06-23 06:09] mangoGoForward commented on #340
Sorry for the bad experience, because the workflow had an error, it caused this issue auto closed by mistake, and it already fixed.

[2022-06-23 06:12] mangoGoForward commented on #340
Seems have a duplicate issue #338

[2022-06-23 06:12] #340 closed

[2022-06-23 06:47] wenchajun commented on #336
Yes, you can also take a look at this plugin. https://github.com/fluent/fluent-operator/blob/master/apis/fluentbit/v1alpha2/plugins/filter/multiline_types.go
You can take a look at the `secret` and see if the configuration inside is as expected all the time. But I think you can look more at `regular expressions` for validation. https://mp.weixin.qq.com/s/PI3E5-S0Qhbmn0OgEvYy-Q

[2022-06-28 08:39] Dduanduan commented on #336
@wenchajun first,I tried using the multiline filter and the built-in Java parser worked,The results fell short of expectations:
![2610F1C5-C861-4c5f-98E3-0CAFDA7F83F4](https://user-images.githubusercontent.com/35992731/176134447-74a61ac4-4d78-4d6f-b509-d16816b48ac1.png)

This should be one record, but it actually returns multiple records.
then I want to customize the MULTILINE_PARSER: https://docs

[2022-06-29 02:06] Dduanduan commented on #336
@wenchajun How can I customize the MULTILINE_PARSER in fluent-operator.
![F5FC5AAC-3C8D-468a-B017-2E3D3866D3F6](https://user-images.githubusercontent.com/35992731/176335487-8564c3f1-ffab-4fd0-926a-4fa3ab245f85.png)

[2022-06-30 02:03] wenchajun commented on #336
Here is an example
https://github.com/fluent/fluent-operator/pull/176

[2022-06-30 03:18] Dduanduan commented on #336
@wenchajun thank you. I saw it: https://github.com/fluent/fluent-operator/pull/176
but it used a built-in plugin,not customize. I kown built-in plugin parsers support: go, java and more.
I means [PARSER] and [MULTILINE_PARSER] is different.
so, fluent-operator not support customize the MULTILINE_PARSER, right?

[2022-06-30 04:55] wenchajun commented on #336
Yes, the consideration will be integrated accordingly at a later date.

[2022-07-01 06:59] mangoGoForward commented on #325
I can tackle it

[2022-07-01 07:03] benjaminhuo commented on #325
That's great! @mangoGoForward

[2022-07-08 03:18] #320 closed

[2022-07-12 11:15] Fatpa commented on #310
I have already finished this job, and could you assign it to me?

[2022-07-14 06:09] #310 closed

[2022-07-14 06:34] benjaminhuo opened #348 "Add the PrometheusRemoteWrite output plugin"
### Is your feature request related to a problem? Please describe.

Fluent operator already supports node exporter metrics input plugin and opentelemetry output plugin in https://github.com/fluent/fluent-operator/pull/345

The popular Prometheus remote write plugin should also be supported which enables users to send node exporter metrics to remote Prometheus long-term storages such as Thanos, Cor

[2022-07-18 15:14] #325 closed

[2022-07-19 02:54] mangoGoForward opened #352 "bug: wrong link to redirect to branch of `release-1.1` in `README`"
### Describe the issue

There are some redirect link in master branch's `README` which will redirect to `release-1.1` branch, it should redirect to the master branch.
<img width="872" alt="image" src="https://user-images.githubusercontent.com/35127166/179686766-8c296b10-a2fb-4d0c-b440-a49ac88655db.png">

### To Reproduce

Click the link of `here` in README, it will redirect to `release-1.1` branch

[2022-07-21 09:09] mangoGoForward commented on #352
Problem not reproduced.
<img width="950" alt="image" src="https://user-images.githubusercontent.com/35127166/180176235-f8008b48-4efb-49a1-9544-0069f1eec1be.png">

[2022-07-21 09:09] #352 closed

[2022-08-01 15:40] ivacolop commented on #272
Hi!. I've added namespace in configuration details

[2022-08-02 06:38] benjaminhuo opened #355 "Support prometheus scrape metrics input plugin"
### Is your feature request related to a problem? Please describe.

There're requirements to collect prometheus metrics using fluentbit

### Describe the solution you'd like

We need to support the `prometheus scrape metrics` input plugin. https://docs.fluentbit.io/manual/pipeline/inputs/prometheus-scrape-metrics

### Additional context

We need to add `hostNetwork` field to fluentbit CRD to enabl

[2022-08-08 07:26] jcdauchy-moodys commented on #304
How do you grab all pods logs if FB is not deployed as Daemonset ? FB reads files on each nodes to collect pods logs. If you have FB on only some K8s nodes, you'll be missing plenty of pod logs.

[2022-08-09 01:37] benjaminhuo commented on #304
Fluent Operator support deploying fluent bit as a daemonset already.
What we're talking about in this issue is the requirement to deploy fluentbit as a statefulset to scrap Prometheus metrics which doesn't require to be deployed as a daemonset

[2022-08-09 13:37] koenekle opened #356 "Support for alias of a plugin"
### Is your feature request related to a problem? Please describe.

Currently we are using the [alias feature](https://docs.fluentbit.io/manual/administration/monitoring#configuring-aliases) of fluent-bit, to reference fluent-bit plugin metrics within custom dashboards. Unfortunately this is not possible with fluent-operator.

To us, this is especially important, as we cannot be sure which index a

[2022-08-10 02:26] mangoGoForward commented on #356
Welcome to submit PR～
cc @benjaminhuo @wenchajun

[2022-08-11 02:00] benjaminhuo commented on #356
@wanjunlei @wenchajun the alias seems to be a common field for all input and output plugins, where should we add it to?

[2022-08-12 02:21] wanjunlei commented on #356
Like the [tls](https://github.com/fluent/fluent-operator/blob/master/apis/fluentbit/v1alpha2/plugins/tls_types.go#L12), we can add a struct named `Common`, and add all common field to it

[2022-08-15 09:34] benjaminhuo opened #357 "Add fluentbit metrics input plugin"
### Is your feature request related to a problem? Please describe.

Collecting fluentbit metrics is useful to get insight into the fluentbit agent.

### Describe the solution you'd like

We need to support the fluentbit metrics input plugin: https://docs.fluentbit.io/manual/pipeline/inputs/fluentbit-metrics

### Additional context

_No response_

[2022-08-15 09:40] benjaminhuo commented on #355
@tonyzaizai will work on this issue

[2022-08-15 09:40] benjaminhuo commented on #348
@tonyzaizai will work on this issue

[2022-08-15 09:41] benjaminhuo commented on #356
@Gentleelephant will work on this issue

[2022-08-15 09:42] benjaminhuo commented on #357
@Gentleelephant will work on this issue

[2022-08-15 10:30] koenekle commented on #356
During the weekend I tried to find a quick solution. I have recognized, that there is an alias for input and output on ClusterInputSpec level. But this would not enable me, to put different alias on single filters of a filter chain, which I would require.

Therefore I hacked a quick solution as @wanjunlei suggested: https://github.com/fluent/fluent-operator/commit/6b5597a22bdfa2ba5f555ce0b4f7d8171

[2022-08-19 13:46] koenekle commented on #356
Actually I have realized, that there might be a way more simple solution, that does not require a common struct and therefore changes a lot less code: https://github.com/koenekle/fluent-operator/commit/60ed941e443a10dbe5b29ac93f259e78d8fde413

 Please let me know which direction your prefer.

[2022-08-20 11:02] laileman opened #359 "can't push to es and s3 is no support"
### Describe the issue

k8s version : v1.24.3
operator version:  kubesphere/fluent-operator:latest
es version: 8.3.3

issue:

[code]

[code]

change to:

But no clusteroutput  found:

[code]

secret can be found:

[code]

[code]

Summary:

1. clusteroutput and clusterfilter are no working.
2. exporter no support s3.
3. there is no template about s3 output on fluent-operator repo.  [ I don't mean

[2022-08-21 09:13] benjaminhuo commented on #356
@koenekle Thanks for your contribution. If I understand the [alias]([alias feature](https://docs.fluentbit.io/manual/administration/monitoring#configuring-aliases)) correctly, it is for input and output plugins only and it's not for filter plugins:

![image](https://user-images.githubusercontent.com/18525465/185784160-401c82da-8b93-4cd2-b0fe-389d1094d47a.png)

[2022-08-21 09:43] benjaminhuo commented on #359
@wenchajun would you take a look at why fb cannot send logs to es with this configuration?

[2022-08-21 11:29] koenekle commented on #356
No, it will also work for filter plugins. I have tested so with the throttle plugin. But you are right, the documentation is a bit misleading there.

[2022-08-21 11:32] benjaminhuo commented on #356
After you add an alias for the throttle filter, what's the effect of this alias?

[2022-08-21 11:40] koenekle commented on #356
The effect is, that you won't have your metrics with numbered instance names, but with your configured alias.
There is an metric for all dropped records of the throttle plugin. I just recognized, this one is also not documented yet within fluent-bit.

[2022-08-24 02:48] #348 closed

[2022-08-24 09:43] #357 closed

[2022-08-29 02:32] benjaminhuo commented on #355
fixed by https://github.com/fluent/fluent-operator/pull/362

[2022-08-29 02:32] #355 closed

[2022-09-01 09:11] #356 closed

[2022-09-06 10:58] wenchajun commented on #359
https://github.com/fluent/fluent-operator/blob/master/apis/fluentbit/v1alpha2/clusteroutput_types.go#L35
There is no `s3` output plugin added yet, would you like to help contribute?

[2022-09-06 11:43] benjaminhuo commented on #338
Close this for now.
You can reopen this whenever you want

[2022-09-06 13:34] laileman commented on #359
Sure.

[2022-09-06 13:34] #359 closed

[2022-09-07 12:50] 666MrFang opened #373 "bug: Can't stdout"
### Describe the issue

i added an output yaml file,want to stdout logs.i don't know why there will be routing.And when i echo " curl -X POST -H 'Content-Type: multipart/form-data' -F 'json={"message":"foo+bar"}' http://172.16.0.13:9880/app.log",there has nothing in the fluentd container's log,i think it's a problem. I don't understand why there is this problem with helm installation, and why ther

[2022-09-08 01:24] benjaminhuo commented on #373
We need to support non-k8s log format log for fluentd @wenchajun

[2022-09-08 06:30] 666MrFang commented on #282
I have  the same question,when i echo " helm install fluent-operator fluent-operator -f fluent-operator/values.yaml "，i can get fluent-bit & fluentd & fluent-operator pods in running.But when i echo "helm uninstall  fluent-operator ",only fluent-operator pods are removed，fluent-bit & flunentd pods still in  running.Then i echo " helm install fluent-operator fluent-operator -f fluent-operator/value

[2022-09-08 09:28] 666MrFang commented on #373
i ask a question，does fluentd installed through helm support the label router plugin? How to see which plugins are supported by fluentd on the environment, except the official website of fluentd？

[2022-09-08 10:05] benjaminhuo commented on #373
https://github.com/fluent/fluent-operator/blob/master/cmd/fluent-watcher/fluentd/Dockerfile.amd64#L38 here you can find the plugins

[2022-09-09 02:43] intelliguy opened #374 "Any given parser doesn't work with syslog on ubuntu 20.04"
### Is your feature request related to a problem? Please describe.

Given parsers related with syslog - syslog-rfc5424, syslog-rfc3164 and syslog-rfc3164-local - start with "\<(?<pri>[0-9]{1,5})\>1", but Ubuntu20.04 doesn't generate any number before time like below.

[code]

So, Ubuntu 20.04 needs a new parser (or let me know what I confused)

### Describe the solution you'd like

Regex - ^(?[^ ]

[2022-09-14 03:08] Gentleelephant commented on #301
I made some changes. Except for the plugin name and plugin type, all other parameters are placed under plugin.config. Is this okay？
`
apiVersion: fluentbit.fluent.io/v1alpha2
kind: ClusterCustomPlugin
metadata:
  namespace: fluent
  name: stdout-output
  labels:
    fluentbit.fluent.io/enabled: "true"
    fluentbit.fluent.io/mode: "fluentbit-only"
  annotations:
    plugin.config: |
      match

[2022-09-14 03:13] Gentleelephant commented on #301
I made some changes. Except for the plugin name and plugin type, other parameters are placed under plugin.config. Is this ok? @benjaminhuo
[code]

[2022-09-14 03:30] benjaminhuo commented on #301
That's ok.

[2022-09-16 06:05] Gentleelephant commented on #301
@benjaminhuo We can define a generic plugin for input, output, filter and use it like a normal plugin.Like this:
[code]

[2022-09-16 07:28] 666MrFang commented on #373
question about namespaces

[2022-09-16 10:51] benjaminhuo commented on #301
I think we can change it a little bit like:
[code]

[2022-09-19 12:35] corrantho opened #378 "Kafka Output Plugin - how to use secrets for rdkafka.sasl.username, rdkafka.sasl.password"
### Describe the issue

Hi,

I'm currently working with the Kafka Output Plugin and I would like to configure authentication credentials with a secret.

The following works:

[code]

and I would like to end with something like this

[code]

However, when checking the output plugin code, we have the following

https://github.com/fluent/fluent-operator/blob/master/apis/fluentbit/v1alpha2/plugins/out

[2022-09-20 01:15] wenchajun commented on #378
Can we perhaps bring this item up separately, like this https://github.com/fluent/fluent-operator/blob/master/apis/fluentbit/v1alpha2/plugins/output/elasticsearch_types.go#L52 ?

[2022-09-20 01:50] #301 closed

[2022-09-20 01:55] benjaminhuo commented on #301
Thanks to @Gentleelephant , the custom plugin is supported now:
https://github.com/fluent/fluent-operator/pull/377
https://github.com/fluent/fluent-operator/blob/master/docs/best-practice/custom-plugin.md

[2022-09-20 09:52] corrantho commented on #378
Sounds a good idea.
Should we keep the rdkafka item to handle unmanaged properties and bring up only special cases such as the username, password and tls secrets?

[2022-09-20 09:54] wenchajun commented on #378
I think it is better to deal with special cases only, what do you think? @benjaminhuo @wanjunlei @corrantho

[2022-09-22 10:07] #305 closed

[2022-09-30 08:12] ist0ne opened #407 "bug: 不能获取到 ClusterFilter 资源对象"
### Describe the issue

通过 1.5.0 charts 部署，部署的资源如下：
$ helm get all fluent-operator -n fluent
NAME: fluent-operator
LAST DEPLOYED: Fri Sep 30 15:42:24 2022
NAMESPACE: fluent
STATUS: deployed
REVISION: 7
TEST SUITE: None
USER-SUPPLIED VALUES:
null

COMPUTED VALUES:
Kubernetes: true
containerRuntime: containerd
fluentbit:
  annotations: {}
  image:
    repository: kubesphere/fluent-bit
    tag: v1.9.

[2022-10-10 03:17] phamgiabao1398 opened #418 "Add SSL/TLS settings feature for fluentd output Elasticsearch"
### Is your feature request related to a problem? Please describe.

My elasticsearch cluster endpoints using HTTPS with self-sign certificate. I try to use config "ssl_verify false" of fluentd but the crd doesn't support it.

### Describe the solution you'd like

Add SSL/TLS settings feature for fluentd output Elasticsearch.

### Additional context

_No response_

[2022-10-11 12:18] havardelnan opened #421 "bug: setting Kubernetes: true breaks fluentbit installation in v1.5.1"
### Describe the issue

Setting Kubernetes: true in values file breaks the install:
[code]

### To Reproduce

Set Kubernetes: true
helm install...

### Expected behavior

Installation

### Your Environment

[code]

### How did you install fluent operator?

- helm via ArgoCD
- helm

### Additional context

_No response_

[2022-10-14 09:31] buxiaomo opened #424 "kubernetes filters mergeLog not working on containerd"
### Describe the issue

kubernetes filters mergeLog not working for containerd.

for example:

message field is
[code]

is not append the map fields as part of the log structure.

### How did you install fluent operator?

[code]

### Additional context

FluentBit configuration file

[code]

[2022-10-14 09:44] wenchajun commented on #424
What is the result of its error? and why was he modified to this `kube.var.log.containers.*_(demo1-prod)_.*-(\w|\.){68}$`?

[2022-10-14 21:41] antoniordz96 opened #425 "bug: Operator cannot apply finalizer to resources on Openshift Cluster"
### Describe the issue

We are trying to install the fluent operator via the helm chart method on an Openshift Cluster. We managed to successfully get it to run and pass the failed to apply finalizer error (the operator service account was granted cluster-admin access).

**The error below means that the operator is missing the required RBAC permissions to update finalizers on the APIs it manage**

[2022-10-16 11:53] wenchajun commented on #425
Yes, it looks like the deletion failed. We'd be happy if you could submit a PR to fix it.

[2022-10-17 05:46] buxiaomo commented on #424
message field is json format，Merge_Log is true, but it not append the map fields as part of the log structure.

for example:
when Merge_Log is false
[code]

when Merge_Log is true

[code]

on containerd, Merge_Log is not working

[2022-10-19 12:51] yvdewall commented on #272
I seem to be having the same bug. key_name `0xc000bde310` is probably an object reference that isn't being translated to the correct string value.

[2022-10-20 12:08] ITler opened #429 "bug: fluent-bit:v1.9.9 fluent-bit-watcher not executable"
### Describe the issue

Running `kubesphere/fluent-bit:v1.9.9` gives output:
[code]

### To Reproduce

[code]

### Expected behavior

it runs, showing proper output similar to v1.9.8 :smile:

### Your Environment

[code]

### How did you install fluent operator?

_No response_

### Additional context

_No response_

[2022-10-21 01:27] benjaminhuo commented on #429
@wenchajun would you help to check if any of the changes introduced in v1.5.1 is related to this?
If the official fluentbit:v1.9.9 has the same problem or the fluentbit image we made has the problem?

[2022-10-21 06:17] ksiadz opened #430 "Custom Plugins for Fluentd not Fluent-bit"
### Is your feature request related to a problem? Please describe.

Hi, I am trying to define custom plugin output, but for fluentd not fluent-bit. This ticket solved it for fluent-bit: https://github.com/fluent/fluent-operator/issues/301

Also is there maybe any opinionated stack example following good practices of fluent-bit being forwarder and fluend aggregator? I am doing a walkthrough so far.

[2022-10-21 07:02] ITler commented on #429
I thought the `/fluent-bit/bin/fluent-bit-watcher` is the extra piece you are adding to the official fluentbit image, no?

[2022-10-21 07:04] benjaminhuo commented on #429
Yes, our custom image is started by `/fluent-bit/bin/fluent-bit-watcher`

[2022-10-24 08:51] ksiadz opened #431 "bug:"
### Describe the issue

When applying Fluentd ClusterOutput with splunk output the resource fields validation fails.

I am deploying operator via `kubectl apply -f https://raw.githubusercontent.com/fluent/fluentbit-operator/master/manifests/setup/setup.yaml`
which should deploy operator as it is on master. I can see splunk MR was recently merged.

`error validating data: ValidationError(ClusterOut

[2022-10-25 02:45] benjaminhuo commented on #431
@wenchajun

[2022-10-25 02:46] benjaminhuo commented on #431
@Gentleelephant would you take a look at this?
@wenchajun can help you if necessary.

[2022-10-25 03:27] Gentleelephant commented on #431
If you want to use the splunk plugin, you should configure fluentbit instead of fluentd. like this `apiVersion: fluentbit.fluent.io/v1alpha2`

[2022-10-25 09:35] Gentleelephant commented on #431
Do you want to use fluentbit+fluentd mode? https://github.com/kubesphere-sigs/fluent-operator-walkthrough#fluent-bit--fluentd-mode

[2022-10-25 09:43] Gentleelephant commented on #431
This is the list of fluentd plugins supported by fluent-operator. https://github.com/fluent/fluent-operator/blob/master/docs/plugins/fluentd/index.md

[2022-10-26 02:52] hpapazov opened #436 "Resolve vulnerabilities with fluent-operator and fluent-bit container"
### Describe the issue

Hi Team, I setup the fluent-operator's images (kubesphere/fluent-operator:1.6.0, and kubesphere/fluent-bit:1.9.9) in our environment and both  of them were flagged for the following security vulnerabilities.

[CVE-2022-2879](https://nvd.nist.gov/vuln/detail/CVE-2022-2879)
[CVE-2022-2880](https://nvd.nist.gov/vuln/detail/CVE-2022-2880)
[CVE-2022-41715](https://nvd.nist.gov/v

[2022-10-27 20:51] perezjasonr commented on #429
just wanted to report I also got this. I remember before I didnt get this, so does anyone know what version we might need to roll back to in order to get it working again?
[code]

[2022-10-28 01:35] benjaminhuo commented on #429
@

@wenchajun Would you take a look if you can reproduce this

[2022-10-29 10:49] wenchajun commented on #429
After my testing, it seems that the underlying image is the cause here, and the exact cause is still being troubleshot. You can switch the image to `kubesphere/fluent-bit:v1.9.4` for now.

[2022-10-30 11:40] benjaminhuo commented on #429
I've revert #416 by https://github.com/fluent/fluent-operator/pull/439 which might cause this problem and @wenchajun will release v1.6.1 @ITler @perezjasonr

[2022-10-31 02:44] ksiadz commented on #431
Hi, yes I am trying to use fluentbit+fluentd mode. Splunk output plugin is missing for fluentd. This is the point of this ticket yes.

[2022-11-01 06:16] benjaminhuo commented on #431
OK, then this is not a bug but instead a feature request.
We've community contributors who helped to add the fluentbit Splunk output plugin.

[2022-11-01 06:22] benjaminhuo commented on #430
@ksiadz We have a walkthrough now https://github.com/kubesphere-sigs/fluent-operator-walkthrough#fluent-bit--fluentd-mode, I'm not sure if this is what you're asking.

And it is great if you can create a proposal for fluentd custom plugin.

But one big difference here for fluentd is that we need to rebuild fluentd image for fluent operator to include a specific plugin

[2022-11-03 05:31] JaredTan95 opened #444 "bug: operator got panic: runtime error: invalid memory address or nil pointer dereference [recovered]"
### Describe the issue

operator pod erros:
[code]

### To Reproduce

1. download helm chart tar file and install it: https://github.com/fluent/fluent-operator/releases/download/v1.6.1/fluent-operator.tgz
2. kubectl apply example file: https://github.com/fluent/fluent-operator/blob/master/manifests/fluentd/fluentd-cluster-cfg-output-buffer-example.yaml

### Expected behavior

all the things works

[2022-11-03 22:23] hpapazov commented on #436
Resolved with this PR https://github.com/fluent/fluent-operator/pull/438

[2022-11-03 22:23] #436 closed

[2022-11-10 15:43] havardelnan opened #446 "bug: splunk plugin, eventField is defined as a string, supports multiple should be changed to array"
### Describe the issue

eventField description in crd states: Set event fields for the record. This option can be set multiple times and the format is key_name record_accessor_pattern.

Setting a value multiple times in a yaml/json wil only return the last value set.

The field should be converted to an array and pluralized.

### To Reproduce

eventFields: container_image $kubernetes['container_im

[2022-11-11 00:32] richardyc commented on #336
Is there any updates to the multiline parser support?

[2022-11-11 03:00] #446 closed

[2022-11-14 10:05] #424 closed

[2022-11-14 18:37] dh185221 opened #448 "support for env in the FluentBit CRD"
### Is your feature request related to a problem? Please describe.

Some plugins, like the [stackdriver output plugin](https://docs.fluentbit.io/manual/pipeline/outputs/stackdriver), require environment variables but I don't see a way to add envs using the [FluentBit crd](https://github.com/fluent/fluent-operator/blob/master/config/crd/bases/fluentbit.fluent.io_fluentbits.yaml)

### Describe the s

[2022-11-15 01:51] #448 closed

[2022-11-15 17:54] nelsontleidos commented on #418
would love to have "ssl_verify" setting also for development environments.

[2022-11-17 12:10] lukeplausin opened #450 "bug: fluent operator `clusterfilter` does not respect the `throttle.printStatus` setting"
### Describe the issue

There seems to be a problem with the operator not respecting the `printStatus` setting of the `throttle` filter.

When `printStatus` is set to `false` there are still entries in the log showing the throttle status.

### To Reproduce

Create a throttle filter with settings like this:

[code]

Fluent bit will produce lines like this in the log:

[code]

### Expected behavior

[2022-11-18 22:08] a13xbr0 opened #451 "Trivial bug"
### Describe the issue

Doubled (copy-pasted?) 'line_format': [link](https://github.com/fluent/fluent-operator/blob/d43a36899acf61b8416d38a1b061f3781931c3fb/apis/fluentd/v1alpha1/plugins/output/types.go#L550)

### To Reproduce

Try to configure fluentd Loki output with lineFormat & autoKubernetesLabels parameters

### Expected behavior

Should work as described in docs

### Your Environment

[code

[2022-11-21 14:41] wenchajun commented on #451
Thanks, this is indeed a problem and we will fix it, would you be willing to contribute code to fix it?

[2022-11-22 10:23] momoXD007 opened #455 "No option to provide annotations to fluent-operator"
Hello,
I want to add annotations to my fluent-operator Deployment. However, I only found options to add annotations to fluent-bit but no good way to add them to the fluent-operator Deployment/Pod.

Is this intentional? Is it just a missing feature?

I specifically looked at this template and found that it does not mention annotations at all.

https://github.com/fluent/fluent-operator/blob/0ca8da20

[2022-11-22 10:23] #455 closed

[2022-11-22 10:45] momoXD007 opened #456 "add Annotation support to fluent-operator Deployment"
### Is your feature request related to a problem? Please describe.

I am frustrated because I can not add an annotation to fluent-operator Deployment or Pods. There is no way in the templates provided to add annotations.

### Describe the solution you'd like

Basically I just want annotations to be considered in fluent-operator-deployment.yaml and an option to overwrite annotations via  values.yam

[2022-11-22 21:44] rothwerx opened #457 "bug: YAML parse error when rendering templates/fluentbit-fluentBit.yaml"
### Describe the issue

When setting `Kubernetes: true` and populating a values.yaml for fluentbit with more than one annotation, secret, or a volume or volumeMount, the template gets rendered with an extra indent on the first line, causing a parse error.

Example:
[code]

### To Reproduce

In values.yaml fluentbit section, add more than one annotation, volume or volumeMount:
[code]

Then try to i

[2022-11-23 01:49] #457 closed

[2022-11-23 03:14] wenchajun opened #459 "Automatic pushing of fluentbit-debug version images"
### Is your feature request related to a problem? Please describe.

With increased use, we need to  have debug version of the fluent-bit image similar to fluent/fluent-bit:<version>-debug image that contain shells and tooling that can be used to troubleshoot or for testing purposes。

### Describe the solution you'd like

Two types of fluentbit images are automatically pushed via CI, one for the `f

[2022-11-23 03:41] wenchajun opened #460 "Add the fluent-operator chart to the fluent helm-charts repo"
### Is your feature request related to a problem? Please describe.

It is necessary to add the `fluent-operator` to the `fluent` [helm chart](https://fluent.github.io/helm-charts) for uniformity and user-friendliness.

### Describe the solution you'd like

Add the fluent-operator chart to the https://fluent.github.io/helm-charts repo

### Additional context

_No response_

[2022-11-23 07:59] momoXD007 commented on #456
Looking at the source-code and templates again: I think it should be seriously considered to support arbitrary labels for fluent-bits fluentds and fluent-operator as well.
I believe for fluent-operator this is can possibly be solved purely in the templates. For fluent-bit I guess template and fluentbit-types.yaml need enhancement

For fluentd I did not check but probably same approach as fluent-bi

[2022-11-23 09:53] haarchri opened #464 "help request: aws opensearch configuration"
### Describe the issue

did you guys have a documentation to connect to `aws opensearch` an easy way with `ClusterOutput` ?

### How did you install fluent operator?

_No response_

### Additional context

_No response_

[2022-11-23 10:28] benjaminhuo commented on #464
@haarchri hope these can help:

https://github.com/fluent/fluent-operator/blob/master/docs/plugins/fluentbit/clusteroutput/opensearch.md
https://github.com/fluent/fluent-operator/blob/master/charts/fluent-operator/templates/fluentbit-output-opensearch.yaml

[2022-11-23 12:21] Kristian-ZH opened #465 "Restart the Fluentbit pods when a Filter/Parser/Input/Output is created/removed."
### Is your feature request related to a problem? Please describe.

Currently, the operator consists of two controllers: `fluentbit-controller` and `fluentbit-config-controller`.  Both controllers do not share resources and in this way when we deploy a ClusterFilter for example after the FB Daemonset  is created, the new filter will not be applied to the fluent-bit.
The `fluentbit-config-controlle

[2022-11-23 18:36] tibbon commented on #359
Did you try routing your fluentbit output through fluentd to s3?

[2022-11-24 01:44] wanjunlei commented on #465
Thanks for engaging @Kristian-ZH

First, the creation, update, and deletion of Filter/Parser/Input/Output will trigger the configuration reload of fluent bit. This will happen within the pod, so the pod does not need to restart.

I am not sure what you mean by `not be applied to the fluent bit`. If this means the fluent bit does not restart, this is as expected.
If this means the filter no worked,

[2022-11-24 09:29] Kristian-ZH commented on #465
Hi,

Yes I did not know about this feature, because I see that FB still does not provide dynamic support: https://github.com/fluent/fluent-bit/issues/365

But this still does not work entirely in my setup. The new configurations are dynamically injected in the `/fluent-bit/config` directory but the FB pods continue to use the old configurations and their behaviour is not getting changed.

How to r

[2022-11-24 09:41] benjaminhuo commented on #465
@Kristian-ZH Fluent Operator will restart the fluentbit process whenever the config is updated without restarting the fuentbit pod, you can take a look at the code here:

https://github.com/fluent/fluent-operator/blob/master/cmd/fluent-watcher/fluentbit/main.go
https://github.com/fluent/fluent-operator/blob/master/cmd/fluent-watcher/fluentbit/Dockerfile#L16

It's a bug to fix if it doesn't pickup

[2022-11-24 09:44] Kristian-ZH commented on #465
k8s version: 1.22.16
container runtime: containerd://1.5.13
The fluent operator version and the fluent-bit version.
the fluent operator version: I use this commit: https://github.com/fluent/fluent-operator/commit/953d59600790cf33e07bb9cf2acf6a660227e82a

I also install the operator via helm: `helm install fluent-operator --create-namespace -n fluent charts/fluent-operator/  --set containerRuntime=

[2022-11-24 09:51] wanjunlei commented on #465
Native fluentbit does not support dynamic loading configuration. You need to use our packaged image ` kubesphere/fluent-bit:v1.9.9`.

[2022-11-24 09:57] Kristian-ZH commented on #465
Ahh, got it. Will try it :), thanks.
Can you just share if `kubesphere/fluent-bit:v1.9.9` is the same as `fluent/fluent-bit:v1.9.9` + the dynamic configurations?
E.g. All the features and bug fixes from the original fluent-bit will exist but it has yet another dynamic config feature.

[2022-11-24 10:00] benjaminhuo commented on #465
Its base image is the official `fluent/fluent-bit:1.9.9`, you'll understand it if you take a look at https://github.com/fluent/fluent-operator/blob/master/cmd/fluent-watcher/fluentbit/Dockerfile#L16

[2022-11-24 12:37] wenchajun commented on #465
Can you show the logs for it? It usually changes as its `secret` changes.

[2022-11-24 12:45] Kristian-ZH commented on #465
Sure,

Here I deployed FB with just one input plugin (tail). After that, I applied a ClusterOutput (stdout).
 In the logs there are no indications that a new configuration is loaded:

[code]

[2022-11-24 13:00] Kristian-ZH commented on #465
Ahh I think that I found the problem,
Now I saw that in your Dockerfile, you are using this entrypoint `ENTRYPOINT ["/fluent-bit/bin/fluent-bit-watcher"]`
But in the fluent-bit I have `command` field in the which loads my custom output plugin and it looks like this:
[code]

And what I think is that it overrides your entrypoint and does not start the `fluent-bit-watcher` bynary

[2022-11-24 13:02] benjaminhuo commented on #465
Bingo! Don't start to run before you can walk :)

[2022-11-24 13:08] Kristian-ZH commented on #465
Now the question is: How can I start the watcher binary and at the same time load a custom plugin to the fluent-bit :D
As I see the watcher binary does not support `-e` argument

[2022-11-24 13:12] benjaminhuo commented on #465
You might add a flag to the watcher https://github.com/fluent/fluent-operator/blob/master/cmd/fluent-watcher/fluentbit/main.go#L189

[2022-11-24 13:16] Kristian-ZH commented on #465
Yes...
Okay thanks, as the problem is in my setup and it is not the one I have mentioned in the issue I will close it.
Thanks for the support. I will open a PR with the additional flag probably once I test it and it works as expected :)

[2022-11-24 13:16] #465 closed

[2022-11-24 15:10] benjaminhuo commented on #465
FluentBit supports loki plugin, why using a custom loki plugin?

[2022-11-24 15:12] Kristian-ZH commented on #465
Long story short, because our setup needs a dynamic hostpath configuration based on the tags and the loki plugin is not powerful to achieve this. That's why we are using a fork of the plugin: https://github.com/gardener/logging

[2022-11-24 15:33] havardelnan opened #470 "Standardize values.yaml"
### Is your feature request related to a problem? Please describe.

- When we deploy to kubernetes we want to modify some of the configurations like filters. inputs and outputs but still use the fluentbit installation enabled by the Kubernetes: true setting.
- values.yaml need some linting
- Some standardizing like changing enable to enabled should be conscidered to follow comunity-practices
- def

[2022-11-30 04:54] laileman commented on #359
Thanks .I have developed  by myself.